{% load avatar_tags %}
{% load i18n %}

{% if forum %}
    <p class="buttonbar" style="margin-top:-2em;"><a href="{% url discuss_newthread forum.id %}" class="button">Post new topic &raquo;</a></p>
{% endif %}

{% if threads %}
    {% for thread in threads %}
        <div class="threaditem {% if thread.system %}emblem-trigger-system{% endif %} {% if thread.closed %}emblem-trigger-closed{% endif %} {% if thread.sticky %}emblem-trigger-sticky{% endif %} {% cycle 'odd' 'even' %}">
            <div class="threaditem-emblems">  
                <div class="emblem-closed"></div>
                <div class="emblem-sticky"></div>
                <div class="emblem-system"></div>
            </div>
            <div class="threaditem-image"><a href="{% url user-profile user_id=thread.author.id %}">{% avatar thread.author 50 %}</a></div>
            <div class="threaditem-title"><a href="{% url discuss_thread thread_id=thread.id %}">{{ thread.title }}</a></div>
            <div class="threaditem-meta">
                <a href="{% url user-profile user_id=thread.author.id %}">{{ thread.author.get_profile.fullname }}</a> on <a href="{% url discuss_forum thread.forum.id %}">{{ thread.forum.title }}</a><br />
                {{ thread.posts }} replies, latest {{ thread.latest_post_created|timesince }} ago by <a href="{% url user-profile user_id=thread.latest_post.author.id %}">{{ thread.latest_post.author.get_profile.fullname }}</a></div>
        </div>
    {% endfor %}
{% else %}
    <p>No discussions have been started yet. 
    {% if forum %}
        <br /><a href="{% url discuss_newthread forum.id %}">Be the first to post a message!</a>
    {% endif %}
    </p>
{% endif %}


<br class="clear" />
