{% extends "base.html" %}
{% load avatar_tags %}
{% load i18n %}
{% load markup %}

{% block breadcrumbs %} 
    {{ block.super }}
    &raquo; <a href="{% url discuss_forum forum_id=thread.forum.id %}">{{ thread.forum }}</a>
    &raquo; <a href="{% url discuss_thread thread_id=thread.id %}">{{ thread }}</a>
    &raquo; Reply to topic
{% endblock %}

{% block content_title %}<h1>{{thread}}</h1>{% endblock %}

{% block content_left %}

<h5>Reply to topic</h5>
{% if form.errors %}<ul>{{ form.errors.as_ul }}</ul>{% endif %}
<form method="post" action="{% url discuss_reply thread_id=thread.id %}">
<table>
{{ form.as_table }}
</table>
<input type='submit' value='Post' />
</form>




{% endblock %}

{% block content_right %}
<h5>Subscriptions</h5>
<p style="font-size:smaller">RSS feed?</p>
<h5>About</h5>
<p style="font-size:smaller"><a href="{% url discuss_forum forum_id=forum.id %}">{{ forum }}</a> has {{ forum.thread_set.all.count }} threads.</p>
{% endblock %}
