{% extends "base.html" %}
{% load avatar_tags %}
{% load i18n %}
{% load markup %}

{% block breadcrumbs %} 
    {{ block.super }}
    &raquo; <a href="{% url discuss_forum forum_id=thread.forum.id %}">{{ thread.forum }}</a>
    &raquo; {{ thread.title }}
{% endblock %}

{% block title %}{{thread.title}}{% endblock %}

{% block content_title %}<h1>{{thread.title}}</h1>{% endblock %}

{% block content_left %}

{% for post in thread.post_set.all %}

<div class="postitem">
    <div class="postitem-image"><a href="{% url user-profile user_id=thread.author.id %}">{% avatar post.author 48 %}</a></div>
    <div class="postitem-body"> {{ post.body|markdown }}</div>
    <div class="threaditem-meta">
        Posted by <a href="{% url user-profile user_id=thread.author.id %}">{{ thread.author.get_profile.fullname }}</a>, {{ post.created|timesince }} ago<br />
    </div>
    <br class="clear" />
</div>

{% endfor %}

{% if thread.closed %}
<p class="notice">This thread is closed, you cannot reply.</p>
{% else %}

<h5>Reply to topic</h5>
{% if form.errors %}<ul>{{ form.errors.as_ul }}</ul>{% endif %}
<form method="post" action="{% url discuss_reply thread_id=thread.id %}">
<table>
{{ form.as_table }}
</table>
<input type='submit' value='Post' />
</form>

{% endif %}
<!-- Reply -->



{% endblock %}

{% block content_right %}
<h5>Subscriptions</h5>
<p>RSS feed?</p>
<p>Notification</p>
<h5>About</h5>
<p>Discussion started by <a href="{% url user-profile user_id=thread.author.id %}">{{ thread.author.get_profile }}</a></p>
<p>Latest post {{ thread.latest_post_created|timesince }} ago by <a href="{% url user-profile user_id=thread.latest_post.author.id %}">{{ thread.latest_post.author.get_profile }}</a>
<h5>Tags</h5>
{% with thread.get_tags as tags %}{% include "_tags.html" %}{% endwith %}

{% with thread as obj %}{% include "_social.html" %}{% endwith %}
{% endblock %}
