{% extends "base.html" %}

{% block content_title %}<h1>Welcome to smrtr!</h1>{% endblock %}

{% block content_left %}
<div class="boxout"><div>
<p><strong><a href="http://www.smrtr.org">smrtr</a></strong> is a free 
collaborative learning, quiz and study tool.</p>
<p>Take <strong>quizzes</strong>, <strong>track progress</strong> and receive recommended <strong>study aids</strong> to build your knowledge.
Ideal for <strong>students</strong>, <strong>professionals</strong> or general-knowledge <strong>know-it-alls</strong> alike!</p>
<p>Have you got a higher <strong>SQ</strong> than your friends?</p>
<p>Log in below, or <a href="{% url registration_register %}">create a new account</a> to get involved!</p>
</div></div>
<p>
<form action="/accounts/login/" method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Login &raquo;" />
</form>
</p>

{% endblock %}

{% block content_right %}
    <img src="/media/img/screenshot1.jpg">
{% endblock %}
