{% extends "base.html" %}

{% block content_title %}<h1>Welcome to smrtr!</h1>{% endblock %}

{% block content %}
<p><strong><a href="http://www.smrtr.org">smrtr</a></strong> is an open-source open-access web knowledge and learning system.</p>

<p>If you already have an account, log in below, otherwise <a href="{% url registration_register %}">create a new account</a> and get involved!</p>
<p>
<form action="/accounts/login/" method="post">
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>
</p>

{% endblock %}
