{% extends "base.html" %}

{% block content_title %}<h1>Getting smrtr</h1>{% endblock %}

{% block content_left %}
<p>To get started, simply enter your details below and click '<strong>Register</strong>'.</p>
<p>
<form action="" method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Register" />
</form>
</p>
<p class="notice"><strong>Note:</strong> Information you provide will never be sold or shared with any 3rd parties without your explicit permission.</p>

{% endblock %}

{% block content_right %}
    <img src="/media/img/screenshot1.jpg">
{% endblock %}
