{% extends "base.html" %}
{% load avatar_tags %}

{% block breadcrumbs %}
    {{ block.super }}
    &raquo; Notifications
{% endblock %}

{% block content_title %}<h1>Notices</h1>{% endblock %}


{% block content %}

    {% if notices %}
    <p class="buttonbar"><span class="button"><a href="{% url notification_mark_all_seen %}">Dismiss all notifications</a></span></p>
    {% for notice in notices %}
    
        <div class="notification {% if notice.unseen %}notification-new{% endif %} {% cycle 'odd' 'even' %}">
            <div class="notification-emblems">  
                <div class="notification-emblem-new" title="New message"></div>
            </div>
            {{ notice.message|safe }}
<!--             <div class="notification-message">{{ notice.message|safe }}</div> -->
            <div class="notification-meta">Notification recieved {{ notice.added|timesince }} ago</div>       
        </div>    
    
    {% endfor %}
    
    {% else %}
    <p>There are no notifications for you yet.</p>
    {% endif %}

{% endblock %}

<!--
<h3> Debug notice_settings </h3>
{{notice_settings }}
-->
