{% extends "base.html" %}
{% load avatar_tags %}

{% block breadcrumbs %}
    {{ block.super }}
    &raquo; Notifications
{% endblock %}

{% block content %}
<h1>Notices</h1>

    {% if notices %}
    
    {% for notice in notices %}
    <div class="notice">
        {{ notice.message|safe }}
        <div class="notice-meta">{{ notice.added|timesince }} ago &#183; <a href="">Comment</a> &#183; <a href="">Like</a></div>
    </div>
    {% endfor %}
    
    {% else %}
    <p>There are no notifications for you yet.</p>
    {% endif %}

{% endblock %}

<!--
<h3> Debug notice_settings </h3>
{{notice_settings }}
-->
