{% extends "base.html" %}
{% load sq_tags %}
{% load core_tags %}

{% block breadcrumbs %} 
    {{ block.super }}
    {% if concept.network %}
        &raquo; <a href="{% url network-detail network_id=concept.network.id %}">{{ concept.network }}</a>
    {% endif %}
    &raquo; {{ concept }}
{% endblock %}

{% block title %}{{concept}}{% endblock %}

{% block content_title %}{% include "_concept_header.html" %}{% endblock %}

{% block progressbar %}
{% if userconcept %}
{% percentbar userconcept.percent_complete %}
<div id="progressbar-content" title="{{ userconcept.percent_complete }}% complete">{{ userconcept.start_date|timesince }} </div>
<div id="progressbar-sq" title="Your concept SQ is {{ userconcept.sq }}">{% sqchange userconcept.previous_sq userconcept.sq %}</div>
{% endif %}
{% endblock %}

{% block content_left %}

    {% if concept %}
    
        <blockquote>{{ concept.description }}</blockquote>

        {% if userconcept %}

        {% else %}

            <div class="focus"><h4>Activate concept</h4><div class="focus-body">
            <p>Activate this concept to start studying!</p>
            <!-- Registration form -->
            <form action="{% url concept-register concept_id=concept.id concept_id=concept.id%}" method="post">
            <input type="hidden" name="submit" value="1" />
            &nbsp;<input type="submit" value="Activate '{{concept}}' &raquo;" />
            </form>
            </div></div>

        {% endif %}


        <h5>Questions & Resources</h5>
        <p>
            There are <strong>{{ concept.questions.count }} question{{ concept.questions.count|pluralize }}</strong> and <strong>{{ concept.resources.count }} resource{{ concept.resources.count|pluralize }}</strong> available for {{ concept }}. You can help yourself and others by <a href="{% url concept-add-questions concept_id=concept.id %}" class="questionlink">Adding Questions</a> or <a href="{% url concept-add-resources concept_id=concept.id %}" class="questionlink">Adding Resources</a> now.
        </p>

        {% include "_memberships.html" %}

    {% else %}
        <p>No curriculum information available.</p>
    {% endif %}

{% endblock %}

{% block content_right %}
        {% include "_wall.html" %}

{% with concept as obj %}{% include "_social.html" %}{% endwith %}

<h5>Management</h5>
<div class="buttonbar left">
<span class="button"><a href="{% url concept-add-questions concept_id=concept.id %}" class="questionlink">Add Questions</a></span>
<span class="button"><a href="{% url concept-add-resources concept_id=concept.id %}" class="questionlink">Add Resources</a></span>
<span class="button"><a href="{% url concept-edit concept_id=concept.id %}">Edit</a></span>
</div>

{% endblock %}
