{% load sq_tags %}
{% load core_tags %}

{% if userchallenge %}
{% percentbar userchallenge.percent_complete %}
<div id="progressbar-content" title="{{ userchallenge.percent_complete }}% complete">
    {% if userchallenge.end_date %}
        Completed {{ userchallenge.end_date|timesince }}
    {% else %}
        Active {{ userchallenge.start_date|timesince }} 
    {% endif %}

    {% if userchallenge.challengeset %}
        {% with userchallenge.challengeset as challengeset %}
            &#183; Current goal is {{ challengeset.description }}
            &#183; <span class="clock">{% duration challengeset.time_to_complete %}</span> for <a href="{% url challenge-do challenge_id=challenge.id %}">{{ challengeset.total_questions }} question{{ challengeset.total_questions|pluralize }}</a>
            &#183; <a href="{% url challenge-prepare challenge_id=challenge.id %}">{{ challengeset.total_resources }} resource{{ challengeset.total_resources|pluralize }}</a>
        {% endwith %}
    {% endif %}

</div>
<div id="progressbar-sq" title="Your challenge SQ is {{ userconcept.sq }}">{% sqchange userchallenge.previous_sq userchallenge.sq %}</div>
{% endif %}


