{% load sq_tags %}
{% load thumbnail %}
<div>
<div id="content-title-image"><img src="{% thumbnail challenge.image 50x50 crop %}"></div>
<div id="content-title-header">
    <h1 style="display:inline">{{challenge}}</h1> 
        {% if challenge.network %}<a href="{% url network-detail network_id=challenge.network.id %}" class="network network{{ challenge.network.type }}">{{ challenge.network }}</a>{% endif %}
</div>
<div id="content-title-meta">
{% if challenge.package_set %}
    Available on <a href="{% url challenge-providers challenge_id=challenge.id %}">{{ challenge.package_set.count }} package{{ challenge.package_set.count|pluralize }}</a>
{% endif %}
</div>                    
<div id="content-title-sq">
    {% if request.user.get_profile %}{% sqdifficulty challenge.sq request.user.get_profile.sq %}
    {% else %}{% sqdifficulty challenge.sq 100 %}{% endif %}
</div>
</div>  
