{% load core_tags %}
{% load sq_tags %}

<div id="package-{{ package.id }}-packageset-meta">
{% if challenge %}
    {% if challenge.description %}<span class="challenges">{{ challenge.description|truncatewords:"20"}}</span><br/>{% endif %}
    <span class="clock">{% duration challenge.time_to_complete %}</span> for {{ challenge.total_questions }} question{{ challenge.total_questions|pluralize }}
    &#183; {% sqdifficulty userchallenge.sq challenge.sq %}
{% else %}
<p>None currently available.</p>
{% endif %}
</div>

