{% extends "base.html" %}

{% block breadcrumbs %} 
    {{ block.super }}
    &raquo; <a href="{% url challenge-detail challenge_id=challenge.id %}">{{ challenge }}</a>
    &raquo; Questions Answered
{% endblock %}


{% block content %}

    {% if challenge %}
        <h1>{{ challenge }}</h1>
        <p>You answered {{totals.correct}} out of {{totals.answered}} ( {{totals.percent}}% ) questions correctly.</p>
        {% if questions %}
            {% for question in questions %}
            <blockquote>
                {{ question.content }}
            </blockquote>
                <ul>
                {% for answer in question.answer_set.all %}
                    <li class="question_answer {% ifequal question.answered answer.id %}question_answered{% endifequal %} {% if answer.is_correct %}correct{% else %}incorrect{% endif %}">
                        {{ answer.content }}
                    </li>
                {% endfor %}
                </ul>
            {% endfor %}
            </table>
        {% else %}
            <p>No questions available.</p>
        {% endif %}

    {% else %}
        <p>Module does not exist.</p>
    {% endif %}

{% endblock %}
