{% extends 'base.html' %}
{% load i18n %}
{% load sq_tags %}
{% load pagination_tags %}
{% load core_tags %}

{% block breadcrumbs %} 
    {{ block.super }}
    &raquo; Challenge
    &raquo; {{ challenge.name }}
{% endblock %}

{% block content_title %}<h1>{{ challenge.name }}</h1>{% endblock %}

{% block content_left %}

    {% if challenge %}
    
        <table>
            <tr><th>SQ</th><td>{% sqchange 100 challenge.sq %} ({{ challenge.minsq }}-{{ challenge.maxsq }}) 
                {% if request.user.get_profile %}{% sqdifficulty concept.sq request.user.get_profile.sq %}
                {% else %}None{% endif %}
            </td></tr>
            <tr><th>Questions</th><td>{{ challenge.total_questions }}</td></tr>    
            <tr><th>Duration</th><td>{% duration challenge.time_to_complete %}</td></tr>
        </table>

        <blockquote>{{ challenge.description }}</blockquote>

        {% if challenge.concepts %}
            <h5>Concepts Covered</h5>
            <div class="stackcontainer">
                {% for concept in challenge.concepts.all %}
                    <span class="stack"><a href="{% url concept-detail concept_id=concept.id %}" class="concept">{{ concept }}</a></span>
                {% endfor %}
            </div>
            <br style="clear:both;" />
        {% endif %}

        {% if userchallenge %}
            <h5>Performance</h5>    

        {% else %}

            <h5>Get Started</h5>
            <p><a href="{% url challenge-do challenge_id=challenge.id %}">Start this challenge now...</a></p>

        {% endif %}


    {% else %}
        <p>No challenge information available.</p>
    {% endif %}
 
{% endblock %}

{% block content_right %}
    {% include "_challengers.html" %}  
{% endblock %} 
