{% extends "base.html" %}
{% load avatar_tags %}
{% load core_tags %}
{% load sq_tags %}
{% load countries_tags %}

{% block breadcrumbs %} 
    {{ block.super }}
    &raquo; Challenge    
    &raquo; <a href="{% url challenge-detail challenge_id=challenge.id %}">{{challenge}}</a>
    &raquo; Questions Answered
{% endblock %}

{% block title %}{{challenge}}{% endblock %}

{% block content_title %}{% include "_challenge_header.html" %}{% endblock %}


{% block content_left %}

    {% if challenge %}
        <div class="focus"><h4>
        {% if totals.percent > 50 %}Well done!{% else %}
            {% if totals.percent > 30 %}Oh well!{% else %}
            Uh oh!{% endif %}
        {% endif %}
        </h4>
        <div class="focus-body">
            <p>You answered  <span class="percent">{{totals.percent}}%</span> (<strong>{{totals.correct}} out of {{totals.answered}}</strong>) questions correctly.</p>
            <p>{% if totals.percent > 50 %}On a winning streak?{% else %}Want to redeem yourself?{% endif %}
            You can try <a href="{% url challenge-do challenge_id=challenge.id %}">more of the same</a>,
            <a href="{% url challenge-prepare challenge_id=challenge.id %}">do a bit of studying</a>
            or <a href="{% url home %}">try something completely different</a>.</p>
            
            {% with userchallenge.challengeset as challengeset %}
            <div class="minifocus"><h5>Next Goal</h5>
                {% include "_challengeset_meta.html" %}
            </div>  
            <div class="buttonbox">
                <form style="display:inline" method="post" action="{% url challenge-newset challenge_id=challenge.id %}?next={{ challenge.get_absolute_url|urlencode }}" onsubmit="update_userchallengeset({{ challenge.id }}); return false;"><input type="image" src="{{ MEDIA_URL }}img/icons/refresh.png" title="I don't like the look of this!"></form>
                <span class="button button_hi"><a href="{% url home %}">I'm done!</a></span>
                {% if challengeset %}{% if challengeset.total_resources > 0 %}                
                <span class="button button_hi"><a href="{% url challenge-prepare challenge_id=challenge.id %}">Revise</a></span>
                {% endif %}{% endif %}
                <span class="button button_hi"><a href="{% url challenge-do challenge_id=challenge.id %}">Next goal</a></span>
            </div>
            {% endwith %}
               
                    
        </div></div>
        {% if questions %}
            {% for question in questions %}
            <div class="focus focus-bigtop-light"><h4>A</h4><div class="focus-body-low">
            <div class="question-number">{{ forloop.counter }}</div>
            <div class="question">
                {{ question.content }}
            </div>
                <ul class="answers">
                {% for answer in question.answer_set.all %}
                    {% ifequal question.answered answer.id %}
                       <li class="question_answer question_answered {% if answer.is_correct %}correct{% else %}incorrect{% endif %}">{{ answer.content }}</li>
                    {% else %}

                        {% if answer.is_correct %}
                           <li class="question_answer correct">{{ answer.content }}</li>
                        {% endif %}

                    {% endifequal %}
                {% endfor %}
                </ul>
            </div></div>
            {% endfor %}
        {% else %}
            <p>No questions available.</p>
        {% endif %}

    {% else %}
        <p>Challenge does not exist.</p>
    {% endif %}

{% endblock %}

{% block content_right %}

        <h5>Leaderboard</h5>
        <table style="width:100%;">
        {% for ucs in challengers %}
            {% with ucs.user as user %}
            {% with user.get_profile as profile %}
               <tr class="{% cycle 'odd' 'even' %}"><td style="width:32px;">{% avatar user 32 %}</td>
               <td style="line-height:1.5em;"><a href="{% url user-profile user_id=user.id %}">{{ profile.fullname }}</a><br />
                    <small>
                        {% if profile.country %}<img src="{{ profile.country.iso|iso_flag }}"> <a href="http://maps.google.com/maps?q={{ profile.country|urlencode }}&amp;t=h" target="_blank">{{ profile.country }}</a> &#183; {% endif %}
                        {% if profile.network %}<a href="{% url network-detail network_id=profile.network.id %}">{{ profile.network }}</a>{% endif %}
                    </small></td>
               <td style="text-align:center;vertical-align:middle;"><span class="percent">{{ ucs.percent_correct|floatformat:"0" }}%</span></td>
            {% endwith %}
            {% endwith %}
        {% endfor %}
        </table>

{% endblock %} 
