{% extends 'base.html' %}
{% load i18n %}
{% load flowplayer_tags %}
{% load sq_tags %}

{% block breadcrumbs %} 
    {{ block.super }}
    &raquo; Challenge
    &raquo; {{ challenge.name }}
{% endblock %}

{% block title %}{{challenge}}{% endblock %}

{% block content_title %}<h1>{{ challenge.name }}</h1>{% endblock %}

{% block content_left %}

    {% if audiovideo %}
    <h5>Audio & Video</h5>
    {% flowplayer audiovideo %}
    {% endif %}

    {% if books %}
    <h5>Books</h5>
    <table>
        {% for book in books %}
            <tr><td><img src="http://covers.openlibrary.org/b/isbn/{{ book.uri }}-S.jpg"></td>
            <td><strong><a href="{{ book.uri }}" target="_blank">{{ book.title }}</a></strong><br />{{ book.description|truncatewords:15 }}</td>
            <td><a href="{% url resource-detail book.id %}">Details</a></td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if links %}    
    <h5>Links</h5>
    <table>
    {% for link in links %}
        <tr><th><a href="{{ link.uri }}" target="_blank">{{ link.title }}</a></th>
        <td>{{ link.description|truncatewords:15 }}</td>
        <td><a href="{% url resource-detail link.id %}">Details</a></td>
        </tr>
    {% endfor %}
    </table>
    {% endif %}


{% endblock %}

{% block content_right %}

{% if audiovideo.count > 1 %}
<h5>Playlist</h5>
    <div class="clips" style="float:left">
	    <!-- single playlist entry as an "template" -->
	    <a href="${url}"><span>${title}</span></a>
    </div>
    <br class="clear" />
{% endif %}
    
{% with challenge as obj %}{% include "_social.html" %}{% endwith %} 
{% endblock %} 
