{% extends "base.html" %}
{% load sq_tags %}
{% load core_tags %}

{% block extrahead %}
    {{ block.super }}
    <script>
        var timer,clock
        
        timer = false;
        clock = {{ challenge.time_to_complete }};
        
        function make_plural(word, value){
            if(value == 1){
                return word;
            } else {
                return word + 's';
            }
        }
        
        function seconds_to_hms(seconds){
        
            var str = '';
        
            var tm = new Date(seconds*1000)
            var h = tm.getUTCHours();
            var m = tm.getUTCMinutes();
            var s = tm.getUTCSeconds();
            
            if(h != 0){ str += ' ' + h + make_plural( ' hour', h ); }
            if(m != 0){ str += ' ' + m + make_plural( ' minute', m ); }
            if(s != 0){ str += ' ' + s + make_plural( ' second', s ); }
            
            return str;
        }
    
        function countdowntimer(){
            clock--;
            
            if(clock == 0){
                document.getElementById('timertext').innerHTML = 'Time up!';
                stop_timer()
                document.getElementById('timerform').submit();
            } else {
                document.getElementById('timertext').innerHTML = seconds_to_hms( clock );
            }
            
            if(clock == 30){ document.getElementById('timertext').className += " timewarning";
            } else if(clock == 10){ document.getElementById('timertext').className += " timeup"; }
            
        }
        
        function start_timer(){
            /* Pulse timer every 1 second */
            timer = window.setInterval("countdowntimer()", 1000);
            document.getElementById('timertext').innerHTML = seconds_to_hms( clock );
            return true;
        }

        function stop_timer(){
            /* Pulse timer every 1 second */
            window.clearInterval( timer );
            document.getElementById('timerformsubmit').disabled=true;
            return true;
        }
     </script>   
{% endblock %}

{% block extrabase %}
    {{ block.super }}
    <script>    
            start_timer()
    </script>
{% endblock %}


{% block breadcrumbs %} 
    {{ block.super }}
    &raquo; Challenge    
    &raquo; <a href="{% url challenge-detail challenge_id=challenge.id %}">{{ challenge }}</a>
    &raquo; Questions
{% endblock %}

{% block title %}{{ challenge.name }}{% endblock %}

{% block content_title %}{% include "_challenge_header.html" %}{% endblock %}

{% block content_left %}

    {% if challenge %}

        {% if questions %}
        
            <form action="{% url challenge-do-submit challenge_id=challenge.id %}" method="POST" id="timerform">

            <div id="timer"><div id="timertext">&nbsp;</div></div>

            {% for question in questions %}
            <div class="question-block">
            
            <div class="question dropcap">Q{{ question.content }}</div>
                <ul class="answers">
                {% for answer in question.answers_shuffled %}
                    <li class="question_answer"><input name="questions-{{question.id}}" type="radio" value="{{ answer.id }}"> {{ answer.content }}</li>
                {% endfor %}
                    <li class="question_answer hidden"><input name="questions-{{question.id}}" type="radio" value="0" checked="true"> I don't know</li>
                </ul>
            </div>
            {% endfor %}

            <input type="submit" value="Submit" id="timerformsubmit" onclick="stop_timer()">
            </form>
        {% else %}
            <p>No questions available.</p>
        {% endif %}

    {% else %}
        <p>Topic does not exist.</p>
    {% endif %}

{% endblock %}

{% block content_right %}
    {% include "_challengers.html" %}  
{% endblock %} 
