{% extends 'base.html' %}
{% load i18n %}
{% load sq_tags %}
{% load pagination_tags %}

{% block breadcrumbs %} 
    {{ block.super }}
    &raquo; Challenge
{% endblock %}

{% block content_title %}<h1>{{ challenge.name }}</h1>{% endblock %}

{% block content %}

    <form method="post" action=".">
        <table>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="button" value="Cancel">
                    <input type="submit" value="Save Changes">
                </td>
            </tr>
        </table>
    </form>
 
{% endblock %}
