{% extends "base.html" %}
{% load spenglr_sq_tags %}

{% block breadcrumbs %} 
    {{ block.super }}
    &raquo; <a href="{% url challenge-detail challenge_id=challenge.id %}">{{ challenge }}</a>
    &raquo; Questions
{% endblock %}


{% block content %}

    {% if challenge %}
        <h1>{{ challenge.name }}</h1>

        <table>
            <tr><th>SQ</th><td>
                {% if userchallenge %}
                    {% sqchange 100 userchallenge.sq %}
                {% endif %}
                
                {% sqdifficulty request.user.get_profile.sq challenge.sq %}
            </td></tr>
        </table>

        <blockquote>{{ challenge.description }}</blockquote>

        {% if questions %}
            <form action="{% url challenge-do-submit challenge_id=challenge.id %}" method="POST">
            {% for question in questions %}
            <blockquote>
                {{ question.content }}
            </blockquote>
                <ul>
                {% for answer in question.answers_shuffled %}
                    <li class="question_answer"><input name="questions-{{question.id}}" type="radio" value="{{ answer.id }}"> {{ answer.content }}</li>
                {% endfor %}
                    <br />
                    <li class="question_answer hidden"><input name="questions-{{question.id}}" type="radio" value="0" checked="true"> I don't know</li>
                </ul>
            {% endfor %}
            </table>
            <input type="submit" value="Submit">
            </form>
        {% else %}
            <p>No questions available.</p>
        {% endif %}

    {% else %}
        <p>Module does not exist.</p>
    {% endif %}

{% endblock %}
