{% extends 'base.html' %}
{% load i18n %}
{% load sq_tags %}
{% load pagination_tags %}

{% block breadcrumbs %} 
    {{ block.super }}
    &raquo; Challenge
    &raquo; 
    {% if challenge.name %}
        {{ challenge.name }} &raquo; Edit
    {% else %}
        Create new challenge
    {% endif %}     
{% endblock %}

{% block title %}
    {% if challenge.name %}
        Edit '{{ challenge.name }}'
    {% else %}
        Create new challenge
    {% endif %}
{% endblock %}

{% block content_title %}
    {% if challenge.name %}
        {% include "_challenge_header.html" %}
    {% else %}
        <h1>Create new challenge</h1>
    {% endif %}
{% endblock %}

{% block content %}
<p>Enter a name and description below, along with an optional image to show in listings. Once you save you can add your questions!</p>
    {% include "_form.html" %}
 
{% endblock %}
