{% extends "base.html" %}

{% block breadcrumbs %} 
    {{ block.super }}
    &raquo; <a href="{% url challenge-detail challenge_id=challenge.id %}">{{ challenge }}</a>
    &raquo; Questions Answered
{% endblock %}

{% block title %}{{ challenge.name }}{% endblock %}

{% block content_title %}<h1>{{ challenge.name }}</h1>{% endblock %}


{% block content_left %}

    {% if challenge %}
        <p>You answered <strong>{{totals.correct}} out of {{totals.answered}}</strong> ( {{totals.percent}}% ) questions correctly.</p>
        {% if questions %}
            {% for question in questions %}
            <div class="question-block">
            <div class="question dropcap_light">Q
                {{ question.content }}
            </div>
                <ul class="answers">
                {% for answer in question.answer_set.all %}
                    {% ifequal question.answered answer.id %}
                       <li class="question_answer question_answered {% if answer.is_correct %}correct{% else %}incorrect{% endif %}">{{ answer.content }}</li>
                    {% else %}

                        {% if answer.is_correct %}
                           <li class="question_answer correct">{{ answer.content }}</li>
                        {% endif %}

                    {% endifequal %}
                {% endfor %}
                </ul>
            </div>
            {% endfor %}
        {% else %}
            <p>No questions available.</p>
        {% endif %}

    {% else %}
        <p>Challenge does not exist.</p>
    {% endif %}

{% endblock %}

{% block content_right %}
    {% include "_challengers.html" %}  
{% endblock %} 
