{% extends 'base.html' %}
{% load i18n %}
{% load sq_tags %}
{% load pagination_tags %}
{% load core_tags %}

{% block breadcrumbs %} 
    {{ block.super }}
    &raquo; Challenge
    &raquo; {% if userchallenge %}{{userchallenge}}{% else %}{{challenge}}{% endif %}
{% endblock %}

{% block title %}{{challenge}}{% endblock %}

{% block content_title %}{% include "_challenge_header.html" %}{% endblock %}

{% block progressbar %}
{% if userchallenge %}
<div id="progressbar-content" title="{{ userchallenge.percent_complete }}% complete">
{{ userchallenge.get_status_display }}
{% if userchallenge.status == 1 %}{{ userchallenge.started|timesince }} ago{% endif %}
{% if userchallenge.status == 2 %}{{ userchallenge.completed|timesince }} ago{% endif %}
{% if userchallenge.topic %}
&#183; Applies to your <a href="{% url topic-detail topic_id=userchallenge.topic.id %}">{{ userchallenge.topic }}</a> topic 
    {% if userchallenge.topic.network %}
        from <a href="{% url network-detail network_id=userchallenge.topic.network.id %}">{{ userchallenge.topic.network }}</a>
    {% endif %}
{% endif %}
</div>
<div id="progressbar-sq" title="Your concept SQ is {{ userchallenge.sq }}">{% sqchange userchallenge.previous_sq userchallenge.sq %}</div>
{% endif %}
{% endblock %}


{% block content_left %}

    {% if challenge %}
    
        <table>
            <tr><th>Questions</th><td>{{ challenge.total_questions }}</td></tr>    
            <tr><th>Duration</th><td>{% duration challenge.time_to_complete %}</td></tr>
        </table>

        <blockquote>{{ challenge.description }}</blockquote>

        {% if challenge.concepts %}
            <h5>Concepts Covered</h5>
            <div class="stackcontainer">
                {% for concept in challenge.concepts.all %}
                    <span class="stack"><a href="{% url concept-detail concept_id=concept.id %}" class="concept">{{ concept }}</a></span>
                {% endfor %}
            </div>
            <br style="clear:both;" />
        {% endif %}

        {% if userchallenge %}
            <h5>Performance</h5>    

        {% else %}

            <h5>Get Started</h5>
            <p class="buttonbar"><span class="button"><a href="{% url challenge-do challenge_id=challenge.id %}">Start this challenge now...</a></span></p>

        {% endif %}

            <h5>Preparation</h5>
            <p class="buttonbar"><span class="button"><a href="{% url challenge-prepare challenge_id=challenge.id %}">Prepare for this challenge...</a></span></p>


    {% else %}
        <p>No challenge information available.</p>
    {% endif %}
 
{% endblock %}

{% block content_right %}
    {% include "_challengers.html" %}  
    
{% with challenge as obj %}{% include "_social.html" %}{% endwith %} 
{% endblock %} 
