{% extends "base.html" %}
{% load sq_tags %}
{% load core_tags %}

{% block breadcrumbs %} 
    {{ block.super }}
    {% if challenge.network %}
        &raquo; <a href="{% url network-detail network_id=challenge.network.id %}">{{ challenge.network }}</a>
    {% endif %}
    &raquo; {{ challenge }}
{% endblock %}

{% block title %}{{challenge}}{% endblock %}

{% block content_title %}{% include "_challenge_header.html" %}{% endblock %}

{% block progressbar %}
{% if userchallenge %}
{% percentbar userchallenge.percent_correct 'pc-correct' %}
<div id="progressbar-content" title="{{ userchallenge.percent_correct|default_if_none:'tbc' }}%">
{% if userchallenge.is_complete %}Latest attempt {{ userchallenge.started|timesince }} ago{% else %}Not started{% endif %}
</div>
<div id="progressbar-sq" title="Your challenge SQ is {{ userchallenge.sq }}">{% sqchange userchallenge.previous_sq userchallenge.sq %}</div>
{% endif %}
{% endblock %}

{% block content_left %}

    {% if challenge %}
    
        <blockquote>{{ challenge.description }}</blockquote>

        {% if userchallenge %}
            {% if challenge.total_questions > 0 %}

            <div class="minifocus"><h5>Attempt This Challenge</h5>
                {% include "_challenge_meta.html" %}
            </div>
            <div class="buttonbox">
                {% if challengeset %}{% if challenge.total_resources > 0 %}                
                <span class="button button_hi"><a href="{% url challenge-prepare challenge_id=challenge.id %}">Revise</a></span>
                {% endif %}{% endif %}
                <span class="button button_hi"><a href="{% url challenge-do challenge_id=challenge.id %}">Start challenge</a></span>
            </div>
            
        {% else %}  
            <p class="notice">There are no questions currently available, add some first and then you can try them out!</p>
                  
          {% endif %}  

        {% else %}

            <div class="focus"><h4>Activate challenge</h4><div class="focus-body">
            <p>Activate this challenge to start studying!</p>
            <!-- Registration form -->
            <form action="{% url challenge-register challenge_id=challenge.id challenge_id=challenge.id%}" method="post">
            <input type="hidden" name="submit" value="1" />
            &nbsp;<input type="submit" value="Activate '{{challenge}}' &raquo;" />
            </form>
            </div></div>

        {% endif %}


        <h5>Questions & Resources</h5>
        <p>
            There are <strong>{{ challenge.questions.count }} question{{ challenge.questions.count|pluralize }}</strong> and <strong>{{ challenge.resources.count }} resource{{ challenge.resources.count|pluralize }}</strong> available for {{ challenge }}. You can help yourself and others by <a href="{% url challenge-add-questions challenge_id=challenge.id %}" class="questionlink">Adding Questions</a> or <a href="{% url challenge-add-resources challenge_id=challenge.id %}" class="questionlink">Adding Resources</a> now.
        </p>

        {% include "_memberships.html" %}

    {% else %}
        <p>No curriculum information available.</p>
    {% endif %}

{% endblock %}

{% block content_right %}
        {% include "_wall.html" %}

{% with challenge as obj %}{% include "_social.html" %}{% endwith %}

<h5>Management</h5>
<div class="buttonbar left">
<span class="button"><a href="{% url challenge-add-questions challenge_id=challenge.id %}" class="questionlink">Add Questions</a></span>
<span class="button"><a href="{% url challenge-add-resources challenge_id=challenge.id %}" class="questionlink">Add Resources</a></span>
<span class="button"><a href="{% url challenge-edit challenge_id=challenge.id %}">Edit</a></span>
</div>

{% endblock %}
