        <h5>Top 10 Members</h5>
        <table style="width:100%;">
        {% for userpackage in topusers %}
            {% with userpackage.user as user %}
            {% with user.get_profile as profile %}
               <tr class="{% cycle 'odd' 'even' %}"><td style="width:32px;">{% avatar user 32 %}</td>
               <td style="line-height:1.5em;"><a href="{% url user-profile user_id=user.id %}">{{ profile.fullname }}</a><br />
                    <small>
                        {% if profile.country %}<img src="{{ profile.country.iso|iso_flag }}"> <a href="http://maps.google.com/maps?q={{ profile.country|urlencode }}&amp;t=h" target="_blank">{{ profile.country }}</a> &#183; {% endif %}
                        <a href="{% url network-detail network_id=profile.network.id %}">{{ profile.network }}</a>
                    </small></td>
               <td>{% sq userpackage.sq %}&nbsp;{% sqdescriptive userpackage.sq %}</td></tr>
            {% endwith %}
            {% endwith %}
        {% endfor %}
        </table>
 
    <h5>Top 10 Networks</h5>
    <table style="width:100%;">
    {% for network in topnetworks %}
       <tr class="{% cycle 'odd' 'even' %}"><td style="width:32px;"><img src="{% thumbnail network.image 32x32 crop %}"></td>
       <td style="line-height:1.5em;"><a href="{% url network-detail network_id=network.id %}">{{ network }}</a><br />
       {% if network.country %}<img src="{{ network.country.iso|iso_flag }}"> <a href="http://maps.google.com/maps?q={{ network.country|urlencode }}&amp;t=h" target="_blank">{{ network.country }}</a> &#183; {% endif %}
       {{ network.total_members }} member{{ network.total_members|pluralize }}
       </td>
       <td>{% sqchange 100 network.ncsq %}&nbsp;{% sqdescriptive network.ncsq %}</td></tr>
    {% endfor %}
    </table>
    
    <h5>Top 10 Countries</h5>
    <table style="width:100%;">
    {% for country in topcountries %}
       <tr class="{% cycle 'odd' 'even' %}"><td style="width:16px;"><img src="{{ country.iso|iso_flag }}"></span></td>
       <td style="line-height:1.5em;"><a href="http://maps.google.com/maps?q={{ country|urlencode }}&amp;t=h" target="_blank">{{ country }}</a></td>
       <td>{% sq country.sq %}&nbsp;{% sqdescriptive country.sq %}</td></tr>
    {% endfor %}
    </table>
