{% load sq_tags %}
{% load thumbnail %}
<div>
<div id="content-title-image"><img src="{% thumbnail package.image 50x50 crop %}"></div>
<div id="content-title-header">
    <h1 style="display:inline">{{package}}</h1> 
        {% if package.network %}<a href="{% url network-detail network_id=package.network.id %}" class="network network{{ package.network.type }}">{{ package.network }}</a>{% endif %}
</div>
<div id="content-title-meta">
{% if package.network %}
    Available from <a href="{% url network-detail network_id=package.network.id %}">{{ package.network }}</a>
    {% ifnotequal package.networks.count 1 %}
        and <a href="{% url package-providers package_id=package.id %}">{{ package.networks.count|add:"-1" }} other network{{ package.networks.count|pluralize }}</a>
    {% endifnotequal %}
{% else %}
    Available from <a href="{% url package-providers package_id=package.id %}">{{ package.networks.count }} network{{ package.networks.count|pluralize }}</a>                
{% endif %}
</div>                    
<div id="content-title-sq">
    {% if request.user.get_profile %}{% sqdifficulty package.sq request.user.get_profile.sq %}
    {% else %}{% sqdifficulty package.sq 100 %}{% endif %}
</div>
</div>  

