{% extends "base.html" %}
{% load i18n %}
{% load spenglr_sq_tags %}
{% load avatar_tags %}
{% load countries_tags %}

{% cycle 'odd' 'even' as zebra %}

{% block breadcrumbs %} 
    {{ block.super }}
    &raquo; {{ profile }}
{% endblock %}

{% block content_left %}
<p class="notice">Information you enter will be visible on your personal profile page.</p>
    <form action="{% url profile-edit %}" method="post">
    <table>
    {{ uform.as_table }}
    {{ pform.as_table }}
    </table>
    <input type="submit" value="Submit" />
    </form>

{% endblock %}

{% block content_right %}
{% include "_wall.html" %}
{% endblock %}
