{% extends "base.html" %}
{% load i18n %}
{% load sq_tags %}
{% load avatar_tags %}
{% load countries_tags %}

{% cycle 'odd' 'even' as zebra %}

{% block breadcrumbs %} 
    {{ block.super }}
    &raquo; {{ profile }}
{% endblock %}

{% block content_title %}<h1>{{ profile }}</h1>{% endblock %}

{% block content_left %}

    {% if puser %}


        <table>
        <tr>
        <th rowspan="10">{% avatar puser 48 %}</th></tr>
        
        {% if profile.city %}
            <tr>
            <th>Location</th>
            <td><a href="http://maps.google.com/maps?q={{ profile.locationquery|urlencode }}&amp;t=h" target="_blank">
                {{ profile.city }}, <span class="country" style="background-image:url('{{ profile.country_id|iso_flag }}')">{{ profile.country }}</span>
            </a></td></tr>
        {% endif %}
        
        <tr><th>Joined</th><td>{{ puser.date_joined|timesince }} ago</td></tr>
        <tr><th>SQ</th><td>{% sqchange 0 profile.sq %}</td></tr>
        </table>

        <blockquote>{{ profile.about }}</blockquote>
    
        {% ifequal puser user %}

            <a href="{% url profile-edit %}">Edit your profile</a><br />
            <a href="{% url avatar_change %}">Change your profile picture</a><br />
            {% url admin:password_change as password_change_url %}
            {% if password_change_url %}
                <a href="{{ password_change_url }}">
            {% else %}
                <a href="{{ root_path }}password_change/">
            {% endif %}
            {% trans 'Change password' %}</a>


        {% else %}

            <a href="{% url messages_compose_to recipient=puser.username %}">Send me a private message</a>

        {% endifequal %}

        <h5>Networks</h5>
            <div>
            {% for network in puser.networks.all %}
                <span class="stack"><a href="{% url network-detail network_id=network.id %}" class="network network{{ network.type }}">{{ network }}</a></span>
            {% endfor %}
            </div>        
        


    {% else %}
        <p>No profile available.</p>
    {% endif %}

{% endblock %}

{% block content_right %}
{% endblock %}
