{% extends "base.html" %}
{% load i18n %}
{% load sq_tags %}
{% load core_tags %}
{% load avatar_tags %}
{% load countries_tags %}

{% cycle 'odd' 'even' as zebra %}

{% block breadcrumbs %} 
    {{ block.super }}
    &raquo; {{ profile }}
{% endblock %}

{% block title %}{{profile}}{% endblock %}

{% block content_title %}
<div>
<div id="content-title-image">{% avatar puser 50 %}</div>
<div id="content-title-header">
    <h1 style="display:inline">{{profile}}</h1> 
        {# Home network #}
        {% if profile.network %}<a href="{% url network-detail network_id=profile.network.id %}" class="network network{{ profile.network.type }}">{{ profile.network }}</a>{% endif %}
</div>
<div id="content-title-meta">
Member for {{ puser.date_joined|timesince }} 
&#183; Location 
{% if profile.city or profile.country %}
<a href="http://maps.google.com/maps?q={{ profile.city|urlencode }},{{ profile.country|urlencode }}&amp;t=h" target="_blank">{% if profile.city %} {{ profile.city }}{% endif %}{% if profile.country %} <span class="country" style="background-image:url('{{ profile.country_id|iso_flag }}')">{{ profile.country }}</span></a>{% endif %}
{% else %}Unknown{% endif %} 
{% if profile.url %}&#183; Web <a href="{{ profile.url }}">{{ profile.url }}</a>{% endif %}

</div>                    
<div id="content-title-sq">
    {% sqchange profile.previous_sq profile.sq %}
</div>
</div>  
{% endblock %}

{% block content_left %}

    <blockquote>{{ profile.about }}</blockquote>


    <h5>Active Challenges</h5>
    <div class="stackcontainer">
    {% for userchallenge in puser.userchallenge_set.all %}
        <div class="stack challenge stackvertical">
        {% percentbar userchallenge.percent_complete %}
        {% percentbar userchallenge.percent_complete_correct 'pc-correct' %}    
        <a href="{% url challenge-detail challenge_id=userchallenge.challenge.id %}" title="{{ userchallenge.percent_correct|default_if_none:'tbc' }}% at {{ userchallenge.percent_complete }}% complete">{{ userchallenge }} ({% sqchange userchallenge.previous_sq userchallenge.sq %})</a>
        </div>
       
    {% endfor %}
    </div>

{% endblock %}

{% block content_right %}
    {% ifnotequal puser user %}
        <h5>Contact Me</h5>
        <a href="{% url messages_compose_to recipient=puser.username %}">Send me a private message</a>

    {% endifnotequal %}

    {% ifequal puser user %}
        <h5>Manage Your Profile</h5>

        <a href="{% url profile-edit %}">Edit your profile</a><br />
        <a href="{% url avatar-change %}">Change your profile picture</a><br />
        {% url admin:password_change as password_change_url %}
        {% if password_change_url %}
            <a href="{{ password_change_url }}">
        {% else %}
            <a href="{{ root_path }}password_change/">
        {% endif %}
        {% trans 'Change password' %}</a>


    {% endifequal %}




    {% if puser %}
        <h5>Networks</h5>
            <div>
            {% for network in puser.networks.all %}
                <div class="stack network network{{ network.type }}"><a href="{% url network-detail network_id=network.id %}">{{ network }}</a></div>
            {% endfor %}
            </div>    
    {% endif %}
{% endblock %}



