{% load avatar_tags %}
{% load i18n %}
{% load comments %}

        {% if wall %}
        <div class="form-toggle">    
            <div id="post-to-wall">
                <form method="post" class="uniForm" action="{% url add_wall_item wall.slug %}">
                    <input type="hidden" name="success_url" value="{{ request.META.REQUEST_URI }}" />
                    <textarea id="id_posting" rows="1" cols="50" name="posting" style="width:98%"></textarea>
                    <div style="text-align:right"><input type="submit" value="{% trans 'Submit' %}" /></div>
                </form>w
            </div>
            
        </div>
        {% endif %}
        
        {% for item in wallitems %}
            <div class="wallitem">
                <div class="wallitem-image"><a href="{% url user-profile user_id=item.author.id %}">{% avatar item.author 48 %}</a></div>
                <div class="wallitem-body"><a href="{% url user-profile user_id=item.author.id %}" class="wallitem-author">{{ item.author.get_profile.fullname }}</a> {{ item.body|striptags }}</div>
                <div class="wallitem-meta">{{ item.created_at|timesince }} ago on <a href="{% url wall_home item.wall.slug %}">{{ item.wall.name }}</a></div>
                <div class="wallitem-actions"><a href="#" onClick="document.getElementById('wallitem-comments-{{ item.id }}').style.display='block'; return false;">Comment</a> &#183; <a href="">Like</a></div>
                {% get_comment_list for item as comment_list %}
                <div id="wallitem-comments-{{ item.id }}" class="wallitem-comments" {% if comment_list %}{% else %}style="display:none"{% endif %}>
                {% if comment_list %}
                    {% for comment in comment_list %}
                        <div class="comment">
                            <div class="comment-image"><a href="{% url user-profile user_id=comment.user.id %}">{% avatar comment.user 32 %}</a></div>
                            <div class="comment-body"><a href="{% url user-profile user_id=comment.user.id %}" class="wallitem-author">{{ comment.user.get_profile.fullname }}</a>
                            {{ comment.comment }}</div>
                            <div class="comment-meta">{{ comment.submit_date|timesince }} ago</div>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="comment">
                    {% get_comment_form for item as form %}
                    <form action="{% comment_form_target %}" method="POST">
                    {{ form.object_pk }}
                    {{ form.content_type }}
                    {{ form.timestamp }}
                    {{ form.security_hash }}
                    <input type="hidden" name="next" value="{{ request.META.REQUEST_URI }}">
                    <textarea style="width:98%" id="id_comment" rows="1" cols="40" name="comment" autocomplete="off"></textarea>
                    <div style="text-align:right"><input type="submit" name="submit" class="submit-post" value="Post" /></div>
                    </form>
                </div>
                </div>

            </div>
        {% endfor %}
<br class="clear" />
