{% extends "base.html" %}

{% block title %}Server error{% endblock %}

{% block content_title %}<h1>Uh oh!</h1>{% endblock %}

{% block content %}
<p>We broke something...</p>
<p>Don't worry, we've been notified of the problem and it will be fixed as soon as possible.</p>

<p>Try waiting a while, then <a href="javascript:window.location.reload()">reloading the page?</a></p>

<p>If that doesn't work you can get back home by <a href="http://smrtr.org/">clicking here</a>.

<p>Apologies for any inconvenience.</p>

{% endblock %}

