{% load i18n %}
{% load sq_tags %}
{% load avatar_tags %}
{% load adminmedia %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>smrtr &raquo; {% block title %}Learn smarter not harder with free study materials and multiple choice questions{% endblock %}</title>
<link rel="icon" href="{{ MEDIA_URL }}img/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/base.css" />
{% block %rss %}{% endblock %}
{% block extrastyle %}{% endblock %}
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% load adminmedia %}{% admin_media_prefix %}css/ie.css{% endblock %}" /><![endif]-->
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% admin_media_prefix %}css/rtl.css{% endblock %}" />{% endif %}
{% block extrahead %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<ascript type="text/javascript" src="{% admin_media_prefix %}js/core.js"></script>
<ascript type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}flowplayer/flowplayer-3.2.2.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}flowplayer/flowplayer.playlist-3.0.8.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}flowplayer/flowplayer.coralcdn.js"></script>
{% endblock %}
</head>

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

<!-- Container -->
<div id="container">
    {% if not is_popup %}
    <!-- Header -->
    <div id="header">
        <div id="branding"><a href="/"><img src="{{ MEDIA_URL }}img/smrtr.png"></a></div>
        {% if user.is_authenticated %}
        <div id="user-tools">
            <table id="user-tools-panel">
            <tr><td id="user-tools-panel-top">
            {% trans 'Welcome,' %}
            <strong><a href="{% url user-profile user_id=user.id %}">{% firstof user.first_name user.username %}</a></strong>
                &#183;
                <a href="{% url messages_inbox %}">Inbox{% if messages_inbox_count %} (<strong>{{ messages_inbox_count }}</strong>){% endif %}</a>
                &#183;
                <a href="{% url notification_notices %}">Notifications{% if notice_unseen_count %} (<strong>{{ notice_unseen_count }}</strong>){% endif %}</a>
                &#183;
                {% block userlinks %}
                {% url auth.logout as logout_url %}
                {% if logout_url %}
                    <a href="{{ logout_url }}">
                {% else %}
                    <a href="{{ root_path }}/accounts/logout/">
                {% endif %}
                {% trans 'Log out' %}</a>
            {% endblock %}   
            </td><td rowspan="2">{% avatar user 48 %}</td></tr>
            <tr><td id="user-tools-panel-stats">
                <span title="{% sqdescriptive user.get_profile.sq %}">{% sqchange user.get_profile.previous_sq user.get_profile.sq %}</span>
                <span class="challenges" title="You have completed {{ user.userchallenge_set.count }} challenges">{{ user.userchallenge_set.count }}</span>
                <span class="concepts" title="You are studying {{ user.userconcept_set.count }} concepts">{{ user.userconcept_set.count }}</span>
                <span class="networks" title="You are a member of {{ user.usernetwork_set.count }} networks">{{ user.usernetwork_set.count }}</span>
            </td></tr></table>

        </div>
        {% endif %}
        {% block nav-global %}{% endblock %}
        <div id="toptabs">
            <ul>
                <li><a href="/">home</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="/profile/">profile</a></li>
                {% endif %}
                <li><a href="/top5/">top 5</a></li>
            </ul>
        </div>
        
    </div>
    <!-- END Header -->
    <div id="breadcrumbs">{% block breadcrumbs %}<a href="/">{% trans 'Home' %}</a>{% endblock %}{% if title %} &rsaquo; {{ title }}{% endif %}
        <div id="toplinks">
            <!-- <a href="/statistics">top5</a><a href="/about/">about</a> --><a href="/faq/">?</a>
        </div>
    </div>
    {% endif %}

    <!-- Content -->
    {% block pretitle %}{% endblock %}
    <div id="content-title">{% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}</div>
    <div id="progressbar">{% block progressbar %}{% endblock %}</div>
    <!-- Notices -->
    {% if messages %}
    <ul class="messagelist">{% for message in messages %}<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>{% endfor %}
    </ul>
    {% endif %}

    <div id="content-container">

        <div id="content">
        {% block content %}

        <div id="content-left">
            {% block content_left %}
            {% endblock %}
        </div>
        <div id="content-right">
            {% block content_right %}
            {% endblock %}
        </div>
    
        {{ content }}

        {% endblock %}

        </div>
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %}                   <!-- Footer -->
        <div id="footer">
                <p>All user generated content licensed under the <a href="http://www.gnu.org/copyleft/fdl.html" target="_blank">GFDL</a> and <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA</a>. Please read and follow the <a href="/cg/">Community Guidelines</a><br />
                <a href="http://smrtr.org"><strong>smrtr</strong></a> needs developers and content producers.
                You may <a href="http://github.com/spenglr/spenglr/issues" target="_blank">report any issues</a> or <a href="http://github.com/spenglr/spenglr" target="_blank">contribute to the code</a> via <a href="http://github.com/spenglr" target="_blank"><strong>github</strong></a>.
                Web hosting by <a href="http://www.webfaction.com?affiliate=spenglr">WebFaction</a></p>

        </div>
    {% endblock %}


</div>
<!-- END Container -->
{% block extrabase %}{% endblock %}
</body>
</html>
