{% extends "base.html" %}


{% block breadcrumbs %} 
    {{ block.super }}
    &raquo; Community Guidelines
{% endblock %}

{% block title %}Community Guidelines{% endblock %}

{% block content_title %}<h1>Community Guidelines</h1>{% endblock %}

{% block content %}
<p>Smrtr is a collaborative educational site for the public. </p>
<p>All content posted to smrtr is available under the <a href="http://www.gnu.org/copyleft/fdl.html" target="_blank">GFDL</a> and <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA</a> licenses
and may be distributed accordingly. In turn, this freedom allows your submissions to be used in other works without compensation and to be 
freely edited by others at any time to create derivative works, which also fall under this license.
Do not infringe copyright or submit any work licensed in any way incompatible with 
the <a href="http://www.gnu.org/copyleft/fdl.html">GFDL</a> or <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA</a>.</p> 

<p>Content is user-contributed for the purpose of educational use and as such must ensure verifiable accuracy through the use of 
references and resource materials. Submissions should avoid personal opinion, experience or argument and theories should be presented 
as such where necessary. Smrtr aims to maintain a neutral evidence-based point of view at all times. Where disagreement exists ensure that both 
sides are represented in context and in light of existing authoritative evidence and consider rewording questions and answers or adding 
additional questions to balance debate.</p>

<p>Respect other members of smrtr at all times even during disagreements and remain civil 
at all times. Avoid conflicts of interest by refraining from editing questions relating to debates or controversy you are personally 
involved in. You may however feel free to contribute to the surrounding discussion to ensure your view is heard.</p>

<p>There are no firm rules here: simply act in good faith and assume it on the part of others.</p>

<p>Enjoy your time with smrtr!</p>

{% endblock %}

