{% extends "base.html" %}
{% load sq_tags %}
{% load i18n %}
{% load avatar_tags %}
{% load core_tags %}
{% load thumbnail %}

{% cycle 'odd' 'even' as zebra%}

{% block content_left %}

    <div id="dashboard">

    <!-- <h5>Current Focus [ <span style="background-color:#eee">CHALLENGE</a> | STUDY ]</h5> -->

    {% if userchallengesexist %}
        <div class="focus"><h4>Challenges</h4>

        <div id="tabs" class="ui-tabs">
        <!--
            <ul id="tabs-bar" class="tabs hidden">
                <li><a href="#challenges-active"><span>Active</span></a></li>
                <li><a href="#challenges-complete"><span>Complete</span></a></li>
            </ul>
-->
          <div id="challenges-active">

        {% for userchallenge in userchallengesactive %}
            {% with userchallenge.challenge as challenge %}
            {% with userchallenge.challengeset as challengeset %}
            {% if forloop.first %}
            <div id="challenges-focus" class="{% if userchallenge.is_new %}emblem-trigger-new{% endif %}">
            <div class="focus-body">

            <div class="object-emblems"> 
                <div class="emblem-new" title="New challenge"></div> 
            </div>
            <div id="challenges-focus-image"><img src="{% thumbnail challenge.image 50x50 crop %}"></div>
            <div id="challenges-focus-title"><h5><a href="{% url challenge-detail challenge_id=challenge.id %}">{{ challenge }}</a></h5>
                <p>{{ challenge.description|truncatewords:"15" }}&nbsp;</p>
            </div>
            <div class="progressbarcontainer" title="{{ userchallenge.percent_correct }}% correct at {{ userchallenge.percent_complete }}% complete">
                {% percentbar userchallenge.percent_complete %}
                {% percentbar userchallenge.percent_complete_correct 'pc-correct' %}
            </div>
            
            <div class="minifocus"><h5>Next Goal</h5>
                {% include "_challengeset_meta.html" %}
            </div>      
                     
            <div class="buttonbox">

                    <form style="display:inline" method="post" action="{% url challenge-newset challenge_id=challenge.id %}" onsubmit="update_userchallengeset({{ challenge.id }}); return false;"><input type="image" src="{{ MEDIA_URL }}img/icons/refresh.png" title="I don't like the look of this!"></form>
                    {% if challengeset.total_resources > 0 %}
                        <span class="button button_hi"><a href="{% url challenge-prepare challenge_id=userchallenge.challenge.id %}">Prepare</a></span>
                    {% endif %}

                        <span class="button button_hi"><a href="{% url challenge-do challenge_id=userchallenge.challenge.id %}" class="startlink">{% if userchallenge.percent_complete == 0 %}Start{% else %}Continue{% endif %} Challenge</a></span>

            </div>
         
            </div></div>

            {% else %}
                <div class="object {% cycle 'odd' 'even' %} {% if userchallenge.is_new %}emblem-trigger-new{% endif %}">
                    <div class="object-emblems"> 
                        <div class="emblem-new" title="New challenge"></div> 
                    </div>
                    <div class="object-image"><img src="{% thumbnail challenge.image 50x50 crop %}"></div>
                    <div class="object-title"><a href="{% url challenge-detail challenge_id=challenge.id %}">{{ challenge }}</a></div>
                    <div class="object-content">                    
                        <small>{{ challenge.description|truncatewords:"10" }}&nbsp;</small>
                        <div class="progressbarcontainer" title="{{ userchallenge.percent_correct }}% correct at {{ userchallenge.percent_complete }}% complete">
                            {% percentbar userchallenge.percent_complete %}
                            {% percentbar userchallenge.percent_complete_correct 'pc-correct' %}
                        </div>
                    </div>
                    <div class="object-meta">
                        {% include "_challengeset_meta.html" %}
                    </div>
                    <div class="object-buttons">
                        <div>
                        <form style="display:inline" method="post" action="{% url challenge-newset challenge_id=challenge.id %}" onsubmit="update_userchallengeset({{ challenge.id }}); return false;"><input type="image" src="{{ MEDIA_URL }}img/icons/sm_refresh.png" title="I don't like the look of this!"></form>

                        {% if challengeset.total_resources > 0 %}
                            <span class="minibutton"><a href="{% url challenge-prepare challenge_id=userchallenge.challenge.id %}">Prepare</a></span>
                        {% endif %}

                            <span class="minibutton"><a href="{% url challenge-do challenge_id=userchallenge.challenge.id %}" class="startlink">{% if userchallenge.percent_complete == 0 %}Start{% else %}Continue{% endif %}</a></span>

                        </div>
                    </div>
                </div>
                

            {% endif %}

            {% endwith %}            
            {% endwith %}                        
        {% empty %}
        
            <tr id="focus"><td colspan="10">
            <div class="focus-body" style="position:relative">
            <p>Congratulations, you've completed your assigned challenges for today!</p>
            <p>Have a well-earned rest, or <a href="{% url challenge-search %}?next=/">get some more?</a></p>
            </div>
            </td></tr>         

        {% endfor %}
        </div>
        <div id="challenges-complete">
        <table>
       {% for userchallenge in userchallengescomplete %}
        
            <tr class="{% cycle zebra %}">
                <td class="dbcurriculumconcept challengestatus{{ userchallenge.status }}"><a href="{% url challenge-detail challenge_id=userchallenge.challenge.id %}">{{ userchallenge }}</a>
                <br /><small>{{ userchallenge.challenge.description }}</small>
                </td>
                    <td><span class="users">{{ userchallenge.challenge.userchallenge_set.count }}</span></td>
                <td style="text-align:right">{% sqchange userchallenge.previous_sq userchallenge.sq %} </td>
                <td>{{ userchallenge.last_access|timesince }}</td>
                <td></td>
            </tr>
            
        {% endfor %}        
       </table>
       </div>
       </div>
    </div>
    
    <p class="buttonbar">
        <!-- <span class="button"> <a href="{% url challenge-create %}" class="register">Create custom challenge &raquo;</a></span> -->
        <span class="button"><a href="{% url challenge-search %}" class="register">Add challenges &raquo;</a></span>       
    </p>

    {% else %}
    <div class="focus"><h4>Welcome!</h4><div class="focus-body">
        <p>Once you're up and running, this box will show your <strong>current active challenges</strong> and resources for study. You can control
        what challenges you get by <strong>activating and deactivating</strong> them.</p>
        <p>To get started <span class="button button_hi"><a href="{% url challenge-search %}?next=/">Add challenges now &raquo;</a></span></p>
    </div></div>
    {% endif %}

    </div>

        <h5>Networks</h5>
        {% if usernetworks %}
            <div class="stackcontainer">
            {% for usernetwork in usernetworks.all %}
                <div class="stack network network{{ usernetwork.network.type }}">
                <a href="{% url network-detail network_id=usernetwork.network.id %}">{{ usernetwork }}</a>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <p>Join networks to learn with others at school, online or in your workplace.</p>
        {% endif %}
        <p class="buttonbar"><span class="button"><a href="{% url network-search %}" class="register">Join networks &raquo;</a></span></p>


    {% endblock %}

    {% block content_right %}
        
        {% include "_wall.html" %}  

    {% endblock %}
