{% extends "base.html" %}
{% load sq_tags %}
{% load i18n %}
{% load avatar_tags %}
{% load core_tags %}

{% cycle 'odd' 'even' as zebra%}

{% block content_left %}

    <div id="dashboard">

    <!-- <h5>Current Focus [ <span style="background-color:#eee">CHALLENGE</a> | STUDY ]</h5> -->

    {% if userchallengesexist %}
        <div class="focus nopad"><h4>Challenges</h4>
        <table id="challenges">
        {% for userchallenge in userchallenges %}
        
            {% if forloop.first %}
            <tr><td colspan="10" class="challenge_focus">
            <h5>{{ userchallenge }}</h5>         
            <blockquote>{{ userchallenge.challenge.description }}</blockquote>
            <table>
            <tr><th>Difficulty</th><td>{% sqdifficulty userchallenge.sq userchallenge.challenge.sq %}</td></tr>
            <tr><th>Challengers</th><td><span class="users">{{ userchallenge.challenge.userchallenge_set.count }} member{{ userchallenge.challenge.userchallenge_set.count|pluralize }}</span></td></tr>
            <tr><th>Duration</th><td><span class="clock">{% duration userchallenge.challenge.time_to_complete %}</span> for {{ userchallenge.challenge.total_questions }} questions</td></tr>
            <tr><th>Expires</th><td>{{ userchallenge.challenge.created|timesince }}</td></tr>
            </table>
            <div class="buttonbox">
                {% if userchallenge.challenge.total_resources > 0 %}
                    <span class="button button_hi">
                    <a href="{% url challenge-prepare challenge_id=userchallenge.challenge.id %}" class="startlink">Prepare</a>
                    </span>&nbsp;
                {% endif %}
            
                    <span class="button button_hi">
                    {% ifequal userchallenge.status 0 %}
                    <a href="{% url challenge-do challenge_id=userchallenge.challenge.id %}" class="startlink">Start Challenge</a>
                    {% else %}
                        {% ifequal userchallenge.status 1 %}                    
                            <a href="{% url challenge-do challenge_id=userchallenge.challenge.id %}" class="continuelink">Continue Challenge</a>                        
                        {% endifequal %}
                    {% endifequal %}
                    </span>
            </div>
            </td></tr>

            {% else %}

                <tr class="{% cycle zebra %}">
                    <td class="dbcurriculumconcept challengestatus{{ userchallenge.status }}"><a href="{% url challenge-detail challenge_id=userchallenge.challenge.id %}">{{ userchallenge }}</a></td>
                    <td><span class="users">{{ userchallenge.challenge.userchallenge_set.count }}</span></td>
                    <td>{% sqdifficulty userchallenge.sq userchallenge.challenge.sq %}</td>
                    <td>{{ userchallenge.last_access|timesince }}</td>
                    <td style="text-align:right; vertical-align:middle;">    
                        {% ifequal userchallenge.status 0 %}
                        <span class="minibutton"><a href="{% url challenge-do challenge_id=userchallenge.challenge.id %}" class="startlink">Start</a></span>
                        {% else %}
                            {% ifequal userchallenge.status 1 %}                    
                                <span class="minibutton"><a href="{% url challenge-do challenge_id=userchallenge.challenge.id %}" class="continuelink">Continue</a></span>
                            {% endifequal %}
                        {% endifequal %}
                    </td>
                </tr>
                
            {% endif %}
            
        {% empty %}
        
            <tr id="focus"><td colspan="10">
            <div style="position:relative">
            <h5>Challenge Complete!</h5>
            <p>Congratulations, you've completed your assigned challenges for today!</p>
            <p><a href="{{ SMRTR_FREE_TIME_URL }}" target="_blank">Have a well-earned rest</a>, <a href="">study</a> or <a href="{% url challenge-generate %}">get some more?</a></p>
            </div>
            </td></tr>         
   
         
            
        {% endfor %}
        

       {% for userchallenge in userchallengescomplete %}
        
            <tr class="{% cycle zebra %}">
                <td class="dbcurriculumconcept challengestatus{{ userchallenge.status }}"><a href="{% url challenge-detail challenge_id=userchallenge.challenge.id %}">{{ userchallenge }}</a></td>
                    <td><span class="users">{{ userchallenge.challenge.userchallenge_set.count }}</span></td>
                <td style="text-align:right">{% sqchange userchallenge.previous_sq userchallenge.sq %} </td>
                <td>{{ userchallenge.last_access|timesince }}</td>
                <td></td>
            </tr>
            
        {% endfor %}        
    </table>
    </div>
    <p class="buttonbar">
       <!-- <span class="button"><a href="" class="register">Show all available challenges &raquo;</a></span> -->
        <span class="button"> <a href="{% url challenge-create %}" class="register">Create custom challenge &raquo;</a></span>
    </p>

    {% else %}
    <div class="focus"><h4>Welcome!</h4>
    <table>
        <tr id="focus"><td colspan="10">
            <p>Once you're up and running, this box will show your current active challenges for today. To begin, just activate one of the modules
            below.</p>
        </td></tr>
    </table>
    </div>
    {% endif %}


        <h5>Available Modules</h5>
        {% if suggestmodules %}
            <div class="stackcontainer">
            {% for suggestmodule in suggestmodules %}
                <span class="stack module">
                <a href="{% url module-detail module_id=suggestmodule.id %}">{{ suggestmodule }}</a>
                </span>
            {% endfor %}
            </div><br class="clear" />
    <!--        <p style="margin-top:1em;"><a href="" class="register">Show all available modules &raquo;</a><p> -->
        {% else %}
            <p>You have no more modules to activate! <a href="{% url network-search %}">Join new networks</a> to find more to study...</p>
        {% endif %}



       {% if usermodules %}
            <h5>Active Modules</h5>
            <div class="stackcontainer">
            {% for usermodule in usermodules %}
                <div class="stack module">
                <div class="percent-bar" style="width:{{ usermodule.percent_complete }}%"></div>
                <a href="{% url module-detail module_id=usermodule.module.id %}" title="{{ usermodule.percent_complete }}% complete">{{ usermodule }} ({% sqchange usermodule.previous_sq usermodule.sq %})</a>
                </div>
               
            {% endfor %}
            </div>
        {% endif %}


    </div>

    {% endblock %}

    {% block content_right %}
        
        <h5>Discussions</h5>        
        
        {% include "_forum.html" %}  

        <h5>Networks</h5>
        {% if usernetworks %}
            <div class="stackcontainer">
            {% for usernetwork in usernetworks.all %}
                <span class="stack network network network{{ usernetwork.network.type }}"><a href="{% url network-detail network_id=usernetwork.network.id %}">{{ usernetwork }}</a></span>
            {% endfor %}
            </div>
        {% else %}
            <p>Join networks to learn with others at school, online or in your workplace.</p>
        {% endif %}
        <p class="buttonbar"><span class="button"><a href="{% url network-search %}" class="register">Join new networks &raquo;</a></span></p>


    {% endblock %}
