{% extends "base.html" %}
{% cycle 'odd' 'even' as zebra %}
{% load spenglr_sq_tags %}
{% load i18n %}
{% load avatar_tags %}

    {% block content_left %}

    {% if userconcepts %}
        <div id="dashboard">

        {% if conceptfocus %}
        <div id="focus" style="position:relative">
        <h5>{{ conceptfocus }}</h5>
        <div style="position:absolute;top:10px;right:10px;font-weight:bold;font-size:1.8em;">{% sqchange 100 conceptfocus.sq %}</div>
        <blockquote>{{ conceptfocus.concept.description }}</blockquote>
        <table>
        <tr><th>Studying</th><td>{{ conceptfocus.start_date|timesince }}</td></tr>
        <tr><th>Complete</th><td><div class="progress" style="width:{% widthratio 4 5 100 %}px;"></div></td></tr>
        <tr><th>Speed</th><td><div class="progress" style="width:{% widthratio 1 5 100 %}px;"></div></td></tr>
        <tr><th>Progress</th><td><div class="progress" style="width:{% widthratio 3 5 100 %}px;"></div></td></tr>
        </table>
        <p style="text-align:right">
            <a href="{ % url concept-exam concept_id=conceptfocus.concept.id % }" class="questionlink">Questions &raquo;</a>
            <a href="{ % url concept-resources concept_id=conceptfocus.concept.id % }" class="resourcelink">Study &raquo;</a>
        </p>
        </div>
        {% endif %}


        <table>
        {% for userconcept in userconcepts %}
            <tr class="{% cycle zebra %}">
                <td style="vertical-align:middle"><div class="progress" style="width:{% widthratio userconcept.focus 5 50 %}px;"></div></td>
                <td class="dbcurriculumconcept"><a href="{% url concept-detail concept_id=userconcept.concept.id %}">{{ userconcept }}</a></td>
                <td style="text-align:right">{% sqchange 100 userconcept.sq %}</td>
                <td><a href="{ % url concept-exam concept_id=userconcept.concept.id % }" class="questionlink">Questions</a></td>
                <td><a href="{ % url concept-resources concept_id=userconcept.concept.id % }" class="resourcelink">Study</a></td>
                <td><a href="progress/m/{{ user_concept.concept.id }}" class="progresslink">Progress</a></td>
                <td>
                </td>
            </tr>
        {% endfor %}
        </table>

        <h5>Challenges</h5>
        <table>
        {% for userchallenge in userchallenges %}
            <tr class="{% cycle zebra %}">
                <td class="dbcurriculumconcept"><a href="{% url challenge-detail challenge_id=userchallenge.challenge.id %}">{{ userchallenge }}</a></td>
                <td style="text-align:right">{% sqchange 100 userchallenge.sq %} </td>
                <td><a href="{% url challenge-do challenge_id=userchallenge.challenge.id %}" class="questionlink">Go...</a></td>
                <td>
                </td>
            </tr>
        {% endfor %}
        </table>

        <h5>Ready for something new?</h5>
        {% if suggestconcepts %}
            <span class="stack">
            {% for suggestconcept in suggestconcepts %}
                    <a href="{% url concept-detail concept_id=suggestconcept.id %}" class="concept">{{ suggestconcept }}</a><a href="" class="add">+</a>
            {% endfor %}
            </span><br style="clear:both;" /><p><a href="" class="register">Show all available concepts &raquo;</a><p>
        {% else %}
            <p><a href="" class="register">Activate a new module</a></p>
        {% endif %}

    {% else %}
        <p>No curriculum information available. Join a network and then find your module <a href="/education/c/">here</a>.</p>
    {% endif %}

<!--
    <h5>Modules</h5>
    {% if usermodules %}
        <div >
        {% for usermodule in usermodules %}
            <span class="stack"><a href="{% url module-detail module_id=usermodule.module.id %}" class="module">{{ usermodule.module }}</a></span>
        {% endfor %}
        </div>
    {% endif %}
    <br style="clear:both;" /><p style="margin-top:1em;"><a href="/education/c/" class="register">Start new module &raquo;</a></p>
-->
    <h5>Networks</h5>
    {% if usernetworks %}
        <div >
        {% for usernetwork in usernetworks.all %}
            <span class="stack"><a href="{% url network-detail network_id=usernetwork.network.id %}" class="network network{{ usernetwork.network.type }}">{{ usernetwork }}</a></span>
        {% endfor %}
        </div>
    {% else %}
        <p>Join networks to learn with others at school, online or in your workplace.</p>
    {% endif %}
    <br style="clear:both;" /><p style="margin-top:1em;"><a href="{% url network-search %}" class="register">Join new network &raquo;</a></p>


        </div>

    {% endblock %}

    {% block content_right %}
    {% include "_wall.html" %}  
    {% endblock %}
