{% extends "base.html" %}
{% load sq_tags %}
{% load i18n %}
{% load avatar_tags %}
{% load countries_tags %}

{% block content_title %}<h1>Welcome to smrtr!</h1>{% endblock %}

{% block content_left %}
<div class="boxout"><div>
<p><strong><a href="http://smrtr.org">smrtr</a></strong> is a free 
collaborative learning, quiz and study tool.</p>
<p>Take <strong>quizzes</strong>, <strong>track progress</strong> and receive recommended <strong>study aids</strong> to build your knowledge.
Ideal for <strong>students</strong>, <strong>professionals</strong> or general-knowledge <strong>know-it-alls</strong> alike.</p>
<p><strong><a href="{% url registration_register %}">Sign up now!</a></strong></p>
</div></div>
<div class="boxoutbottom"><a href="{% url registration_register %}" style="color:white">Get smrtr!</a></div>

<br /><br />
<h5>Existing Member?</h5>
<p>Welcome back! Enter your username and password below:
<form action="/accounts/login/" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Login &raquo;" />
</form>
</p>
<p><a href="{% url django.contrib.auth.views.password_reset %}">Forgot your password?</a></p>

{% endblock %}

{% block content_right %}
    <h5>Top 5 Members</h5>
    <table>
    {% for user in topusers %}
        {% with user.get_profile as profile %}
           <tr><td>{% avatar user 48 %}</td>
           <td style="line-height:1.5em;"><a href="{% url user-profile user_id=user.id %}">{{ profile.fullname }}</a> <br />
                Member for {{ user.date_joined|timesince }} <br />
                Location 
                {% if profile.city or profile.country %}
                    <a href="http://maps.google.com/maps?q={{ profile.city|urlencode }},{{ profile.country|urlencode }}&amp;t=h" target="_blank">{% if profile.city %} {{ profile.city }}{% endif %}{% if profile.country %} <span class="country" style="background-image:url('{{ profile.country_id|iso_flag }}')">{{ profile.country }}</span></a>{% endif %}
                {% else %}unknown{% endif %} 
           </td>
           <td>{% sqchange profile.previous_sq profile.sq %}</td></tr>
        {% endwith %}

    {% endfor %}
    </table>

    <h5>Top Challenges</h5>

        <table>
        {% for challenge in topchallenges %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td class="dbcurriculumconcept"><a href="{% url challenge-detail challenge_id=challenge.id %}">{{ challenge }}</a></td>
                <td><span class="users">{{ challenge.userchallenge_set.count }}</span></td>
                <td style="text-align:right">{% sqchange 100 challenge.sq %} </td>
            </tr>
        {% endfor %}
        </table>

    <h5>Top Networks</h5>

        <div>
        {% for network in topnetworks %}
            <div class="stack network network{{ network.type }}"><a href="{% url network-detail network_id=network.id %}">{{ network }}</a></div>
        {% endfor %}
        </div>

{% endblock %}
