{% extends "base.html" %}
{% load i18n %} 
{% load avatar_tags %}

{% block breadcrumbs %} 
    {{ block.super }}
    &raquo; {{ user.get_profile }}
{% endblock %}

{% block content_title %}<h1>{% trans "Change profile picture"%}</h1>{% endblock %}

{% block content_left %}
    <p>Your current profile picture: </p>
    {% avatar user %}
{% endblock %}

{% block content_right %}
    {% if not avatars %}
        <p>You do not yet have an profile picture.  Please upload one now.</p>
    {% else %}
        <form method="POST" action="">
            <ul>
                {{ primary_avatar_form.as_ul }}
            </ul>
            <input type="submit" value="Choose new Default" />
        </form>
    {% endif %}
    <form enctype="multipart/form-data" method="POST" action="">
        <input type="file" name="avatar" value="Avatar Image" />
        <input type="submit" value="Upload New Image" />
    </form>
{% endblock %}
