{% extends "base.html" %} 
{% load i18n %} 

{% block breadcrumbs %} 
    {{ block.super }}
    &raquo; <a href="{% url messages_inbox %}">Messages</a>
    &raquo; Outbox
{% endblock %}

{% block content_title %}<h1>{% trans "Outbox" %}</h1>{% endblock %}

{% block content_left %}
{% if message_list %} 

{% include "messages/_messagebox.html" %}  

{% else %}
<p>{% trans "No messages." %}</p>
{% endif %}   
{% endblock %}

{% block content_right %}
<h5>Message Folders</h5>
{% include "messages/_message_folders.html" %}  
{% endblock %}
