{% extends "base.html" %} 
{% load i18n %} 

{% block breadcrumbs %} 
    {{ block.super }}
    &raquo; <a href="{% url messages_inbox %}">Messages</a>
    &raquo; Trash
{% endblock %}

{% block content_title %}<h1>{% trans "Deleted Messages" %}</h1>{% endblock %}

{% block content_left %}

<p class="notice">{% trans "Deleted messages will be occasionally removed, do not store messages here." %}</p>

{% if message_list %} 
{% with 1 as trash %}
    {% include "messages/_messagelist.html" %}  
{% endwith %}
{% else %}
<p>{% trans "No messages." %}</p>
{% endif %}   
<br />

{% endblock %}

{% block content_right %}
<h5>Message Folders</h5>
{% include "messages/_message_folders.html" %}  
{% endblock %}
