{% extends "base.html" %} 
{% load i18n %} 
{% load avatar_tags %}
{% load markup %}

{% block breadcrumbs %} 
    {{ block.super }}
    &raquo; <a href="{% url messages_inbox %}">Messages</a>
    {% ifequal message.sender request.user %}
        &raquo; <a href="{% url messages_outbox %}">Outbox</a>
    {% else %}
        &raquo; <a href="{% url messages_inbox %}">Inbox</a>
    
    {% endifequal %}
    &raquo; {{message.subject}}
{% endblock %}

{% block content_title %}<h1>{{ message.subject }}</h1>{% endblock %}

{% block content_left %}

<div class="postitem">
    <div class="postitem-image"><a href="{% url user-profile user_id=message.sender.id %}">{% avatar message.sender 48 %}</a></div>
    <div class="postitem-body"> {{ message.body|markdown }}</div>
    <div class="threaditem-meta">
        Message from <a href="{% url user-profile user_id=message.sender.id %}">{{ message.sender.get_profile.fullname }}</a>, <span title="{{ message.sent_at|date:_("DATETIME_FORMAT")}}">{{ message.sent_at|timesince }} ago</span><br />
    </div>
    <br class="clear" />
</div>

{% ifequal message.recipient.pk user.pk %}
<span class="button"><a href="{% url messages_reply message.id %}">{% trans "Reply" %}</a></span>
{% endifequal %}
<span class="button"><a href="{% url messages_delete message.id %}">{% trans "Delete" %}</a></span>

{% if message.parent_msg %}
<h5>Previous Message</h5>
<div class="postitem">
    <div class="postitem-image"><a href="{% url user-profile user_id=message.parent_msg.parent_msg.id %}">{% avatar message.parent_msg.sender 48 %}</a></div>
    <div class="postitem-body"> {{ message.parent_msg.body|markdown }}</div>
    <div class="threaditem-meta">
        Message from <a href="{% url user-profile user_id=message.parent_msg.sender.id %}">{{ message.parent_msg.sender.get_profile.fullname }}</a>, <span title="{{ message.parent_msg.sent_at|date:_("DATETIME_FORMAT")}}">{{ message.parent_msg.sent_at|timesince }} ago</span><br />
    </div>
    <br class="clear" />
</div>
{% endif %}

{% endblock %}

{% block content_right %}
<h5>Message Folders</h5>
{% include "messages/_message_folders.html" %}  
{% endblock %}
