{% extends "base.html" %}

{% block breadcrumbs %} 
    {{ block.super }}
    &raquo; Resources
{% endblock %}

{% block content %}

    {% if latest %}
        <table>
        <caption>Latest Resources</caption>
        <tr><th scope="column">Resource Name</th><th scope="column">Added</th></tr>
        {% for resource in latest %}
            <tr>
                <td><a href="/resources/{{ resource.id }}">{{ resource|truncatewords:15 }}</a></td>
                <td>{{ resource.created|timesince }} ago</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No resources available.</p>
    {% endif %}

{% endblock %}