{% extends "base.html" %}
{% load sq_tags %}

{% block breadcrumbs %} 
    {{ block.super }}
    &raquo; <a href="{% url latest-questions %}">Questions</a>
    &raquo; {{ question.id }}
{% endblock %}

{% block title %}{{question.content}}{% endblock %}

{% block content %}

    {% if question %}
        <blockquote>
            {{ question.content }}
        </blockquote>
            <ul>
            {% for answer in question.answer_set.all %}
                <li class="question_answer {% if answer.is_correct %}correct{% else %}incorrect{% endif %}">
                    {{ answer.content }}
                </li>
            {% endfor %}
            </ul>
        </form>

        {% with question.get_tags as tags %}{% include "_tags.html" %}{% endwith %}
        
        <p style="clear:both"><small>Question rated as {% sqdifficulty 100 question.sq %}. Latest revision by <a href="#">{{ question.author }}</a></small></p>


        {% if question.resources %}
        <h5>Resources</h5>
            <ul>
                {% for resource in question.resources.all %}
                    <li><a href="{{ resource.url }}">{{ resource.title }}</a> {{ resource.description }}</li>
                {% endfor %}
            </ul>
        {% endif %}


    {% else %}
        <p>Question does not exist.</p>
    {% endif %}

{% endblock %}


