{% extends "wallextend/base_wallitem.html" %}
{% load thumbnail %}
{% load core_tags %}
{% load sq_tags %}

{% block wallitem_body %}got 100%!{% endblock %}

{% block wallitem_image %}
    {% if package.image %}<img src="{% thumbnail package.image 32x32 crop %}">{% endif %}
{% endblock %}

{% block wallitem_title %}
    <a href="{{ package.get_absolute_url }}">{{ package }}</a><br />
    {{ package.description|truncatewords:"20" }}
{% endblock %}

{% block wallitem_meta %}
<span class="clock">{% duration userpackage.time_to_complete %}</span>
&#183; {% sqchange userpackage.previous_sq userpackage.sq %}
{% endblock %}
