{% extends "base.html" %}
{% load countries_tags %}
{% load pagination_tags %}
{% load thumbnail %}

{% block breadcrumbs %} 
    {{ block.super }}
    &raquo; Network
    &raquo; Search
{% endblock %}


{% block content %}

    <div class="focus"><h4>Find your networks</h4><div class="focus-body">
    <p>Networks are central to the <strong>smrtr</strong> world. Find your classmates and friends to study, package and compete together.</p>    
    <p>You can find your <strong>school</strong>, <strong>college</strong> and <strong>courses</strong> by searching below. <strong>Simply tick the box and Join selected networks!</strong></p>
    <form method="get" action="?q={{query}}">
        <table>
            <tr>
                <th style="vertical-align:middle;"><label for="id_q">{{ form.q.label }}</th>
                    <td>{{ form.q.errors }} {{ form.q }}</td>
                <td>
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table>            <form method="post" action=".">
    </form>
    </div></div>

        {% if query %}
            <form method="post" action="?q={{query}}">
            <input type="hidden" name="q" value="{{ query }}">
            <div style="margin-top:1em;">
               {% for result in page_obj.object_list %}
                
                    {% with result.object as network %}
                    {% if network %}               
                <div class="object {% cycle 'odd' 'even' %} {% cycle 'clear' '' %} stackme">
                    <div class="object-emblems">
                    </div>
                    <div class="object-checkbox"><input type="checkbox" name="addnetwork" value="{{ network.id }}" {% if network in request.user.networks.all %}checked disabled{% endif %}></div>
                    <div class="object-image"><img src="{% thumbnail network.image 50x50 crop %}"></div>
                    <div class="object-title"><a href="{% url network-detail network_id=network.id %}">{{ network }}</a></div>
                    {% if network.description %}<div class="object-content">{{ network.description|truncatewords:"25" }}</div>{% endif %}
                    <div class="object-meta">
                        {% if network.city or network.country %}
                        Location 
                            <a href="http://maps.google.com/maps?q={{ network.locationquery|urlencode }}&amp;t=h" target="_blank">
                            {% if network.city %} {{ network.city }}{% endif %}
                            {% if network.country %} <span class="country" style="background-image:url('{{ network.country_id|iso_flag }}')">{{ network.country }}</span></a>{% endif %}
                         &#183;    
                        {% endif %}
                        <span class="members">{{ network.usernetwork_set.count }} member{{ network.usernetwork_set.count|pluralize }}</span>
                    </div>
                </div>               
                    {% endif %}
                    {% endwith %}
            {% endfor %}
            </div>            
        <br class="clear" />
        <p class="buttonbar"><input type="submit" value="Join selected networks &raquo;"></p>
        </form>        

        <!-- <p>Don't find your network listed? <a href="#">Create it!</a></p> -->

        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}

        {% if next %}
            <p class="buttonbar"><span class="button"><a href="{{ next }}">Do not join any networks &raquo;</a></span></p>
        {% endif %}

        {% paginate %}
{% endblock %}
