{% extends "base.html" %}
{% load countries_tags %}
{% load pagination_tags %}

{% block content_title %}<h1>Networks</h1>{% endblock %}

{% block content %}

    <div class="boxout"><div>
    {% if query %}
    {% else %}
    <p>Find your <strong>school</strong>, <strong>college</strong> and <strong>courses</strong> by searching below.</p>
    <p>Just enter <strong>part of the name</strong> and click <strong>Search</strong>.</p>
    {% endif %}
    <form method="get" action=".">
        <table>
            <tr>
                <th style="vertical-align:middle;"><label for="id_q">{{ form.q.label }}</th>
                    <td>{{ form.q.errors }}
{{ form.q }}</td>
                    <td>{{ form.type.errors }}
{{ form.type }}</td>
                    <td>{{ form.stage.errors }}
{{ form.stage }}</td>
                <td>
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table>
    </form>
    </div></div>

        {% if query %}
            <h3>Results</h3>

        <table>
        <tr><th>Name</th><th>Type</th><th>Stage</th><th>Location</th></tr>

            {% for result in page.object_list %}
            {% with result.object as network %}
            <tr>
                <th><a href="{% url network-detail network_id=network.id %}">{{ network }}</a></th>
                <td><span class="network network{{network.type}}">{{ network.get_type_display }}</span></td>
                <td>{{ network.get_stage_display }}</td>
                <td>{{ network.city }}</td>
                <td>{% if network.country %} <span class="country" style="background-image:url('{{ network.country_id|iso_flag }}')">{{ network.country }} </span> {% endif %}</td>
            </tr>
            {% endwith %}
            {% empty %}
                <tr><td><p>No results found.</p></td></tr>
            {% endfor %}
        </table>

        <p>Don't find your network listed? <a href="#">Create it!</a></p>

        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}


{% with page as page_obj %}
    {% paginate %}
{% endwith %}

{% endblock %}
