{% extends "base.html" %}
{% load sq_tags %}
{% load countries_tags %}
{% load pagination_tags %}
{% load i18n %}

{% cycle 'odd' 'even' as zebra %}

{% block breadcrumbs %} 
    {{ block.super }}
    &raquo; <a href="{% url network-detail network_id=network.id %}">{{network}}</a>
    &raquo; Members
{% endblock %}

{% block content_title %}<h1>{{network}}</h1>{% endblock %}

{% block content_left %}

    {% autopaginate members 60 %} 

    {% include "_memberships.html" %}

    {% paginate %}

{% endblock %}

{% block content_right %}
<h5>Statistics</h5>
<p>There are {{ total_members }} members in total on the <a href="{% url network-detail network_id=network.id %}">{{ network }}</a> network.</p>
<p>The members of <a href="{% url network-detail network_id=network.id %}">{{ network }}</a> have a {% sqdescriptive network.sq %} SQ of {% sqchange 0 network.sq %}.</p>
{% endblock %}
