{% extends "base.html" %}
{% load spenglr_sq_tags %}
{% load countries_tags %}
{% load i18n %}

{% cycle 'odd' 'even' as zebra %}

{% block breadcrumbs %} 
    {{ block.super }}
    &raquo; {{network}}
{% endblock %}

{% block content_title %}<h1>{{network}}</h1>{% endblock %}

{% block content_left %}

    {% if network %}
        <table>
            {% if network.location_is_set %}
                <tr><th>Location</th>
                <td><a href="http://maps.google.com/maps?q={{ network.locationquery|urlencode }}&amp;t=h" target="_blank">
                    {% if network.city %} {{ network.city }}{% endif %}
                    {% if network.country %} <span class="country" style="background-image:url('{{ network.country_id|iso_flag }}')">{{ network.country }} </span> {% endif %}
                </a></td></tr>
            {% endif %}
        <tr><th>Type</th>
        <td>
            {% if network.parent %}<a href="{% url network-detail network_id=network.parent.id %}" class="network network{{ network.parent.type }}">{{ network.parent }}</a>{% endif %}
            <span class="network network{{ network.type }}">{% if network.type %}{{ network.get_type_display }}{% endif %}</span>
            {% if network.stage %}({{ network.get_stage_display }}){% endif %}</td>
        </tr>
        {% if usernetwork %}
            <tr><th>Start Date</th><td>{{ usernetwork.start_date|date }} ({{usernetwork.start_date|timesince}} ago)</td></tr>
        {% endif %}
        <tr><th>Network SQ</th><td>{% sqchange 0 network.sq %} {% sqdescriptive network.sq %}</td></tr>
        </table>

        <blockquote>{{ network.description }}</blockquote>

        {% if usernetwork %}
            
        {% if network.modules_filtered %}
            <h5>Modules</h5>
            <table>
            <tr><th scope="column">Name</th><th scope="column"></th><th></th><th scope="column">Status</th></tr>
            {% for module in network.modules_filtered %}
                <tr class="{% cycle zebra %}">
                    <td colspan="2"><a href="{% url module-detail module_id=module.id %}">{{ module }}</a></td>
                    <td>
                    {% ifnotequal module.network network %}
                        <a href="{% url network-detail network_id=module.network.id %}" class="network network{{ module.network.type }}">{{ module.network }}</a>
                    {% endifnotequal %}
                    </td>
                
                    {% if module.usermodule %}
                        {% if module.usermodule.is_active %}
                            <td><a href="#" class="active">Active</a></td>
                        {% else %}
                            <td><span class="complete">Completed</span></td>
                        {% endif %}
                        
                    {% else %}
                        <td><a href="{% url module-register module_id=module.id %}" class="inactive">Register</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </table>
        {% endif %}


        {% else %}
            <h5>Registration</h5>
            <p>Join this network for access to courses and other members.</p>
            <!-- Registration form -->
            <form action="{% url network-register network_id=network.id %}" method="post">
            <input type="hidden" name="submit" value="1" />
            &nbsp;<input type="submit" value="Register &raquo;" />
            </form>
        {% endif %}


        {% if network.network_set.all %}
        <h5>Community Networks</h5>
        <table>
            {% for subnetwork in network.network_set.all %}
                <tr class="{% cycle zebra %}">
                    <td><a href="{% url network-detail network_id=subnetwork.id %}">{{ subnetwork }}</a></td>
                    <td>
                        <span class="network network{{ subnetwork.type }}">{% if subnetwork.type %}{{ subnetwork.get_type_display }}{% endif %}</span>
                        {% if subnetwork.stage %}({{ subnetwork.get_stage_display }}){% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% include "_memberships.html" %}

        {% else %}
            <p>No network information available.</p>
        {% endif %}

        {% endblock %}

        {% block content_right %}
        <h5>Discussions</h5>
        {% include "_forum.html" %}
        {% endblock %}
