{% extends "base.html" %}
{% load countries_tags %}
{% load pagination_tags %}

{% block breadcrumbs %} 
    {{ block.super }}
    &raquo; Network
    &raquo; Search
{% endblock %}


{% block content %}

    <div class="focus"><h4>Find your networks</h4><div class="focus-body">
    <p>Networks are central to the <strong>smrtr</strong> world. Find your classmates and friends to study, challenge and compete together.</p>    
    <p>You can find your <strong>school</strong>, <strong>college</strong> and <strong>courses</strong> by searching below. <strong>Simply tick the box and Join selected networks!</strong></p>
    <form method="get" action="?q={{query}}">
        <table>
            <tr>
                <th style="vertical-align:middle;"><label for="id_q">{{ form.q.label }}</th>
                    <td>{{ form.q.errors }} {{ form.q }}</td>
                <td>
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table>            <form method="post" action=".">
    </form>
    </div></div>

        {% if query %}
            <form method="post" action="?q={{query}}">
            <input type="hidden" name="q" value="{{ query }}">

            {% for set in results %}
            <div style="float:left; width: 49%; margin-left: 0.5%;">
            {% if set.results %}
                <h5 class="network network{{ set.type }}">{{ set.name }}</h5>
                <table>
                {% for result in set.results %}
                    {% with result.object as network %}
                        {% if network %}
                        <tr>
                            <td><input type="checkbox" name="addnetwork" value="{{ network.id }}" {% if network in request.user.networks.all %}checked disabled{% endif %}></td>
                            <th><a href="{% url network-detail network_id=network.id %}">{{ network }}</a></th>
                            <td>{{ network.city }}</td>
                            <td>{% if network.country %} <span class="country" style="background-image:url('{{ network.country_id|iso_flag }}')">{{ network.country }} </span> {% endif %}</td>
                        </tr>
                        {% endif %}
                    {% endwith %}
                    {% empty %}
                {% endfor %}
                </table>                
            {% endif %}
            </div>
            
            {% endfor %}
        <br class="clear" />
        <p class="buttonbar"><input type="submit" value="Join selected networks &raquo;"></p>
        </form>        

        <!-- <p>Don't find your network listed? <a href="#">Create it!</a></p> -->

        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}

        {% if next %}
            <p class="buttonbar"><span class="button"><a href="{{ next }}">Do not join any networks &raquo;</a></span></p>
        {% endif %}


{% endblock %}
