{% extends "base.html" %}
{% load sq_tags %}
{% load countries_tags %}
{% load i18n %}
{% load avatar_tags %}
{% load thumbnail %}

{% cycle 'odd' 'even' as zebra %}

{% block breadcrumbs %} 
    {{ block.super }}
    &raquo; {{network}}
{% endblock %}

{% block title %}{{network}}{% endblock %}

{% block content_title %}
<div>
<div id="content-title-image"><img src="{% thumbnail network.image 50x50 crop %}"></div>
<div id="content-title-header">
    <h1 style="display:inline">{{network}}</h1> {% if network.parent %}<a href="{% url network-detail network_id=network.parent.id %}" class="network network{{ network.parent.type }}">{{ network.parent }}</a>{% endif %}
    <span class="network network{{ network.type }}">{% if network.type %}{{ network.get_type_display }}{% endif %}</span>
</div>
<div id="content-title-meta">
{% if network.city or network.country %}
Location 
    <a href="http://maps.google.com/maps?q={{ network.locationquery|urlencode }}&amp;t=h" target="_blank">
    {% if network.city %} {{ network.city }}{% endif %}
    {% if network.country %} <span class="country" style="background-image:url('{{ network.country_id|iso_flag }}')">{{ network.country }}</span></a>{% endif %}
 &#183;    
{% endif %}
{{ network.usernetwork_set.count }} member{{ network.usernetwork_set.count|pluralize }}
{% if network.url %}&#183; Web <a href="{{ network.url }}">{{ network.url }}</a>{% endif %}
</div>                    
<div id="content-title-sq" title="Members of this network have a combined {% sqdescriptive network.sq %} SQ">{% sqchange 0 network.sq %}</div>
</div>                    
{% endblock %}

{% block progressbar %}
{% if usernetwork %}
<div id="progressbar-content">Joined {{ usernetwork.start_date|date }} ({{usernetwork.start_date|timesince}} ago)</div>
{% endif %}
{% endblock %}


{% block content_left %}

    {% if network %}
        
            <h5>About</h5>
 
        <blockquote>{{ network.description }}</blockquote>
        
        {% if usernetwork %}
        {% else %}
            <div class="focus"><h4>Join network</h4><div class="focus-body">
            <p>Join this network for access to courses and other members.</p>
            <!-- Registration form -->
            <form action="{% url network-register network_id=network.id %}" method="post">
            <input type="hidden" name="submit" value="1" />
            &nbsp;<input type="submit" value="Join '{{network}}' network &raquo;" />
            </form>
            </div></div>
        {% endif %}        
        
        
        {% if network.topics_filtered %}
            <h5>Topics</h5>
            <table>
            {% for topic in network.topics_filtered %}
                <tr class="{% cycle zebra %}">
                    <td colspan="2"><a href="{% url topic-detail topic_id=topic.id %}">{{ topic }}</a></td>
                    <td>
                    {% ifnotequal topic.network network %}
                        <a href="{% url network-detail network_id=topic.network.id %}" class="network network{{ topic.network.type }}">{{ topic.network }}</a>
                    {% endifnotequal %}
                    </td>
                    {% if usernetwork %}
                        {% if topic.usertopic %}
                            {% if topic.usertopic.is_active %}
                                <td><a href="#" class="active">Active</a></td>
                            {% else %}
                                <td><span class="complete">Completed</span></td>
                            {% endif %}
                            
                        {% else %}
                            <td><a href="{% url topic-register topic_id=topic.id %}" class="inactive">Activate</a></td>
                        {% endif %}
                    {% else %}<td></td>{% endif %}
                </tr>
            {% endfor %}
            </table>
        {% endif %}

        {% if network.network_set.all %}
        <h5>Community Networks</h5>
        <table>
            {% for subnetwork in network.network_set.all %}
                <tr class="{% cycle zebra %}">
                    <td><a href="{% url network-detail network_id=subnetwork.id %}">{{ subnetwork }}</a></td>
                    <td>
                        <span class="network network{{ subnetwork.type }}">{% if subnetwork.type %}{{ subnetwork.get_type_display }}{% endif %}</span>
                        {% if subnetwork.stage %}({{ subnetwork.get_stage_display }}){% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% with network.members.count as total_members %}
            {% include "_memberships.html" %}
        {% endwith %}
        
        <p style="text-align:right"><a href="{% url network-members network_id=network.id %}">View all members &raquo;</a></p>

        {% else %}
            <p>No network information available.</p>
        {% endif %}

        {% endblock %}

        {% block content_right %}
        {% include "_wall.html" %}

        {% with network as obj %}{% include "_social.html" %}{% endwith %}

        <h5>Manage</h5>
        <form method="post" action="{% url network-set-home network_id=network.id %}"><input type="submit" value="Set as home network" {% if network == user.get_profile.network %}disabled{% endif %}></form>

        {% endblock %}
