{% load sq_tags %}
{% load thumbnail %}
<div>
<div id="content-title-image"><img src="{% thumbnail topic.image 50x50 crop %}"></div>
<div id="content-title-header">
    <h1 style="display:inline">{{topic}}</h1> 
        {% if topic.network %}<a href="{% url network-detail network_id=topic.network.id %}" class="network network{{ topic.network.type }}">{{ topic.network }}</a>{% endif %}
</div>
<div id="content-title-meta">
{% if topic.network %}
    Available from <a href="{% url network-detail network_id=topic.network.id %}">{{ topic.network }}</a>
    {% ifnotequal topic.networks.count 1 %}
        and <a href="{% url topic-providers topic_id=topic.id %}">{{ topic.networks.count|add:"-1" }} other network{{ topic.networks.count|pluralize }}</a>
    {% endifnotequal %}
{% else %}
    Available from <a href="{% url topic-providers topic_id=topic.id %}">{{ topic.networks.count }} network{{ topic.networks.count|pluralize }}</a>                
{% endif %}
</div>                    
<div id="content-title-sq">
    {% if request.user.get_profile %}{% sqdifficulty topic.sq request.user.get_profile.sq %}
    {% else %}{% sqdifficulty topic.sq 100 %}{% endif %}
</div>
</div>  
