{% extends "base.html" %}
{% load sq_tags %}

{% block breadcrumbs %} 
    {{ block.super }}
    {% if concept.network %}
        &raquo; <a href="{% url network-detail network_id=concept.network.id %}">{{ concept.network }}</a>
    {% endif %}
    &raquo; {{ concept }}
{% endblock %}

{% block title %}{{concept}}{% endblock %}

{% block content_title %}<div>
<div id="content-title-image"></div>
<div id="content-title-header">
    <h1 style="display:inline">{{concept}}</h1> 
        {% if concept.network %}<a href="{% url network-detail network_id=concept.network.id %}" class="network network{{ concept.network.type }}">{{ concept.network }}</a>{% endif %}
</div>
<div id="content-title-meta">
{% if concept.module_set %}
    Available on <a href="{% url concept-providers concept_id=concept.id %}">{{ concept.module_set.count }} module{{ concept.module_set.count|pluralize }}</a>
{% endif %}
</div>                    
<div id="content-title-sq">
    {% if userconcept %}
        {% sqchange userconcept.previous_sq userconcept.sq %}
    {% else %}
        {% if request.user.get_profile %}{% sqdifficulty concept.sq request.user.get_profile.sq %}
        {% else %}None{% endif %}
    {% endif %}
</div>
</div>     
{% endblock %}

{% block content_left %}

    {% if concept %}
    
        <table>
            {% if userconcept %}
                <tr><th>Studying</th><td>{{ userconcept.start_date|timesince }}</td></tr>
                <tr><th>Progress</th><td><div class="progress" style="width:{% widthratio 3 5 100 %}px;"></div></td></tr>            
            {% endif %}
            
        </table>

        <blockquote>{{ concept.description }}</blockquote>

        {% if userconcept %}

        {% else %}

            <div class="focus">
            <h4>Activate concept</h4>
            <p>Activate this concept for access to learning materials and to study for exams.</p>
            <!-- Registration form -->
            <form action="{% url concept-register concept_id=concept.id concept_id=concept.id%}" method="post">
            <input type="hidden" name="submit" value="1" />
            &nbsp;<input type="submit" value="Activate '{{concept}}' &raquo;" />
            </form>
            </div>

        {% endif %}


        <h5>Questions & Resources</h5>
        <p>
            There are <strong>{{ concept.question_set.count }} question{{ concept.question_set.count|pluralize }}</strong> and <strong>{{ concept.resources.count }} resource{{ concept.resources.count|pluralize }}</strong> available for {{ concept }}. You can help yourself and others by <a href="{% url concept-add-questions concept_id=concept.id %}" class="questionlink">Adding Questions</a> or <a href="{% url concept-add-resources concept_id=concept.id %}" class="questionlink">Adding Resources</a> now.
        </p>

        {% include "_memberships.html" %}

    {% else %}
        <p>No curriculum information available.</p>
    {% endif %}

{% endblock %}

{% block content_right %}
<h5>Discussion</h5>
{% include "_forum.html" %}

{% with concept as obj %}{% include "_social.html" %}{% endwith %}

<h5>Management</h5>
<div class="buttonbar left">
<span class="button"><a href="{% url concept-add-questions concept_id=concept.id %}" class="questionlink">Add Questions</a></span>
<span class="button"><a href="{% url concept-add-resources concept_id=concept.id %}" class="questionlink">Add Resources</a></span>
<span class="button"><a href="{% url concept-edit concept_id=concept.id %}">Edit</a></span>
</div>

{% endblock %}
