{% extends "base.html" %}
{% load flowplayer_tags %}
{% load sq_tags %}

{% block breadcrumbs %} 
    {{ block.super }}
    &raquo; <a href="{% url concept-detail concept_id=concept.id %}">{{ concept }}</a>
    &raquo; Resources
{% endblock %}


{% block content %}

    {% if concept %}
        <h1>{{ concept.name }}</h1>

        <table>
            <tr><th>SQ</th><td>
                {% if userconcept %}
                    {% sqchange 100 userconcept.sq %}
                {% endif %}
                
                {% sqdifficulty concept.sq request.user.get_profile.sq %}
            </td></tr>
        </table>

        <blockquote>{{ concept.description }}</blockquote>

        {% if resources %}
                <table>
            {% for resource in resources %}
                    <tr><td>
                    {% ifequal resource.namespace 'isbn' %}
                        <img src="http://covers.openlibrary.org/b/isbn/{{ resource.uri }}-M.jpg">
                    {% endifequal %}</td>
                    <th>
                        {% ifequal resource.mimemajor 'audio' %}
                            <!-- audio player -->
                            {% flowplayer resource.url audio %}
                        {% else %}
                        {% ifequal resource.mimemajor 'video' %}
                            <!-- video player -->
                            {% flowplayer resource.url %}
                        {% else %}
                            <a href="{{ resource.uri }}">{{ resource.title }}</a>
                        {% endifequal %}{% endifequal %}
                    </th>
                    <td>{{ resource.description|truncatewords:15 }}</td>
                    <td><a href="{% url resource-detail resource.id %}">Details</a></td>
                    </tr>
            {% endfor %}
                </table>
        {% else %}
            <p>No resources available.</p>
        {% endif %}

    {% else %}
        <p>Module does not exist.</p>
    {% endif %}

{% endblock %}
