{% extends 'base.html' %}
{% load i18n %}
{% load sq_tags %}
{% load pagination_tags %}

{% block breadcrumbs %} 
    {{ block.super }}
    {% if concept.network %}
    &raquo; <a href="{% url network-detail network_id=concept.network.id %}">{{ concept.network }}</a>
    {% endif %}
    &raquo; <a href="{% url concept-detail concept_id=concept.id %}">{{ concept }}</a>
    &raquo; Questions
    &raquo; Add  
{% endblock %}

{% block content_title %}{% include "_concept_header.html" %}{% endblock %}

{% block content_left %}

    <form method="get" action="?q={{ query }}">
        <table>
            <tr>
                <th style="vertical-align:middle;"><label for="id_q">{{ form.q.label }}</th>
                    <td>{{ form.q.errors }} {{ form.q }}</td>
                <td>
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table> 
    </form>
        {% if query %}
            <form method="post" action="?q={{ query }}">
            <table>
            {% for result in page_obj.object_list %}
            {% with result.object as question %}
            
            
                {% if question %}
                <tr>
                    <td><input type="checkbox" name="addquestion" value="{{ question.id }}" {% if concept in question.concepts.all %}checked disabled{% endif %}></td>
                    <th><a href="{{ result.object.get_absolute_url }}"></th>
                    <td><a href="{% url question-detail question_id=question.id %}">{{ question.content }}</a></td>
                    <td>{% sqchange 100 question.sq %}</td>
                </tr>
                {% endif %}
            {% endwith %}
            {% empty %}
                <tr><td>No new questions found for '{{query}}'</td></tr>
            {% endfor %}
            </table>
            <input type="submit" value="Add Questions">
            </form>
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}



{% paginate %}

{% endblock %}
{% block content_right %}
        <h5>Statistics</h5>
        <p>
            There are <strong>{{ concept.question_set.count }} question{{ concept.question_set.count|pluralize }}</strong> and <strong>{{ concept.resources.count }} resource{{ concept.resources.count|pluralize }}</strong> currently assigned to {{ concept }}.
        </p>

{% endblock %}

