{% extends "base.html" %}
{% load spenglr_sq_tags %}

{% block breadcrumbs %} 
    {{ block.super }}
    {% if concept.network %}
        &raquo; <a href="{% url network-detail network_id=concept.network.id %}">{{ concept.network }}</a>
    {% endif %}
    &raquo; {{ concept }}
{% endblock %}

{% block content_left %}

    {% if concept %}
    
        <h1>{{ concept.name }}</h1>

        <table>
            <tr><th>SQ</th><td>
                {% if userconcept %}
                    {% sqchange 100 userconcept.sq %}
                {% endif %}
                
                {% sqdifficulty concept.sq request.user.get_profile.sq %}
            </td></tr>
            {% if userconcept %}
                <tr><th>Studying</th><td>{{ userconcept.start_date|timesince }}</td></tr>
                <tr><th>Progress</th><td><div class="progress" style="width:{% widthratio 3 5 100 %}px;"></div></td></tr>            
            {% endif %}
            
        </table>

        <blockquote>{{ concept.description }}</blockquote>

        {% if userconcept %}

        {% else %}

            <h3>Registration</h3>
            <p>Join this module for access to learning materials and to study for exams.</p>
            <!-- Registration form -->
            <form action="{% url concept-register concept_id=concept.id concept_id=concept.id%}" method="post">
            <input type="hidden" name="submit" value="1" />
            &nbsp;<input type="submit" value="Register &raquo;" />
            </form>

        {% endif %}


        <h5>Questions & Resources</h5>
        <p>
            There are <strong>{{ concept.question_set.count }} question{{ concept.question_set.count|pluralize }}</strong> and <strong>{{ concept.resources.count }} resource{{ concept.resources.count|pluralize }}</strong> available for {{ concept }}. Help yourself and others by <a href="{% url concept-add-questions concept_id=concept.id %}" class="questionlink">Adding Questions</a> or <a href="{% url concept-add-questions concept_id=concept.id %}" class="questionlink">Adding Resources</a> now.
        </p>

        </p>

    {% else %}
        <p>No curriculum information available.</p>
    {% endif %}

{% endblock %}

{% block content_right %}
{% endblock %}
