{% extends "base.html" %}
{% cycle 'odd' 'even' as zebra %}

{% block extrahead %}
    {{ block.super }}
<script type="text/javascript" src="/media/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/media/admin/js/getElementsBySelector.js"></script>

<script type="text/javascript" src="/media/admin/js/actions.js"></script>
<script type="text/javascript" src="/media/admin/js/calendar.js"></script>
<script type="text/javascript" src="/media/admin/js/admin/DateTimeShortcuts.js"></script>


{% endblock %}

{% block breadcrumbs %} 
    {{ block.super }}
    &raquo; <a href="{% url network-detail network_id=concept.network.id %}">{{ concept.network }}</a>
    &raquo; {{ concept }}
{% endblock %}

{% block content %}

    {% if concept %}
    
        <h1>{{ concept.name }}</h1>

        <blockquote>{{ concept.description }}</blockquote>

        <h3>Registration</h3>
        <p>Join this module for access to learning materials and to study for exams.</p>
        <!-- Registration form -->
        <form action="{% url concept-register concept_id=concept.id concept_id=concept.id%}" method="post">
        <input type="hidden" name="submit" value="1" />
        &nbsp;<input type="submit" value="Register &raquo;" />
        </form>


    {% endif %}

{% endblock %}