{% extends "base.html" %}
{% load spenglr_sq_tags %}

{% cycle 'odd' 'even' as zebra %}

{% block breadcrumbs %} 
    {{ block.super }}
    &raquo; <a href="{% url network-detail network_id=coursei.network.id %}">{{ coursei.network }}</a>
    &raquo; {{ course }}
{% endblock %}


{% block content %}

    {% if course %}

        <h1>{{ course.name }}</h1>
        <table>
        {% if usercourse %}
            <tr><th>Start Date</th><td>{{ usercourse.start_date }} ({{ usercourse.start_date|timesince }} ago)</td></tr>
            <tr><th>SQ</th><td>{% sqchange 0 usercourse.sq %} {% sqdifficulty usercourse.sq course.sq %}</td></tr>
        {% else %}
            <tr><th>Difficulty</th><td>{% sqdifficulty 100 course.sq %}</td></tr>
        {% endif %}
            <tr><th>Award Body</th><td><a href="{% url network-detail network_id=course.network.id %}">{{ course.network }}</a></td></tr>
        </table>

        <blockquote>{{ course.description }}</blockquote>
    
        {% if course.moduleinstance_set %}
        <table>
        <tr><th scope="column">Modules</th><th scope="column"></th><th scope="column">Status</th></tr>
            {% if usercourse %}
                {% for usermodule in usercourse.usermodule_set.all %}
                    <tr class="{% cycle zebra %}">
                        <td><a href="{% url modulei-detail modulei_id=usermodule.modulei.id %}">{{ usermodule }}</a></td>
                        <td>{{ usermodule.start_date }} - {{ usermodule.end_date }}</td>
                        {% if usermodule.is_active %}
                            <td><a href="#" class="active">Active</a></td>
                        {% else %}
                            <td><span class="complete">Complete</span></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
            {% if course.moduleinstance_filtered %}
                {% for modulei in course.moduleinstance_filtered %}
                    <tr class="{% cycle zebra %}">
                        <td><a href="{% url modulei-detail modulei_id=modulei.id %}">{{ modulei }}</a></td>
                        <td></td>
                        <td><a href="{% url modulei-register modulei_id=modulei.id coursei_id=coursei.id %}" class="inactive">Register</a></td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
        {% endif %}

        {% include "_memberships.html" %}

    {% else %}
        <p>No curriculum information available.</p>
    {% endif %}

{% endblock %}