{% extends "base.html" %}
{% load spenglr_sq_tags %}

{% cycle 'odd' 'even' as zebra %}

{% block breadcrumbs %} 
    {{ block.super }}
    &raquo; <a href="{% url network-detail network_id=course.network.id %}">{{ course.network }}</a>
    &raquo; {{ course }}
{% endblock %}


{% block content %}

    {% if course %}
    
        <h1>{{ course.name }}</h1>

        <table>
            <tr><th>Award Body</th><td><a href="{% url network-detail network_id=course.network.id %}">{{ course.network }}</a></td></tr>   
            <tr><th>Difficulty</th><td>{% sqdifficulty 100 course.sq %}</td></tr>
        </table>

        {% if usercourses %}
            <p>
                You are studying this course at
                {% for usercourse in usercourses %}
                    <a href="{% url network-detail network_id=usercourse.usernetwork.network.id %}" class="network network{{ usercourse.usernetwork.network.type }}">{{ usercourse.usernetwork.network }}</a>
                    <a href="{% url coursei-detail coursei_id=usercourse.coursei.id %}" class="course">&raquo;</a>
                {% endfor %}
            </p>
        {% endif %}

        <p>This course is offered by <a href="{% url course-detail-providers course_id=course.id %}">{{ course.provided_by.count }} institution{{ course.provided_by.count|pluralize }}</a>.</p>

        <blockquote>{{ course.description }}</blockquote>
    
        {% if course.moduleinstance_set.all %}
        <table>
        <tr><th scope="column">Modules</th><th scope="column">Week</th></tr>
            {% for modulei in course.moduleinstance_set.all %}
                <tr class="{% cycle zebra %}">
                    <td><a href="{% url modulei-detail modulei_id=modulei.id %}">{{ modulei }}</a></td>
                    <td>{{ modulei.start_week }}</td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% include "_memberships.html" %}

    {% else %}
        <p>No curriculum information available.</p>
    {% endif %}

{% endblock %}