{% extends 'base.html' %}
{% load i18n %}
{% load sq_tags %}
{% load pagination_tags %}

{% block breadcrumbs %} 
    {{ block.super }}
    &raquo; Module
    &raquo;
    {% if module.name %}
        {{ module.name }}
        &raquo; Edit
    {% else %}
        Create new module
    {% endif %}    
{% endblock %}

{% block title %}
    {% if module.name %}
        Edit '{{ module.name }}'
    {% else %}
        Create new module
    {% endif %}
{% endblock %}

{% block content_title %}
    {% if module.name %}
        {% include "_module_header.html" %}
    {% else %}
        <h1>Create new module</h1>
    {% endif %}
{% endblock %}

{% block content %}

    {% include "_form.html" %}
 
{% endblock %}
