{% extends "base.html" %}
{% load sq_tags %}
{% load core_tags %}

{% cycle 'odd' 'even' as zebra %}

{% block breadcrumbs %} 
    {{ block.super }}
    {% if module.network %}
    &raquo; <a href="{% url network-detail network_id=module.network.id %}">{{ module.network }}</a>
    {% endif %}
    &raquo; {{ module }}
{% endblock %}

{% block title %}{{module}}{% endblock %}

{% block content_title %}{% include "_module_header.html" %}{% endblock %}

{% block progressbar %}
{% if usermodule %}
{% percentbar usermodule.percent_complete %}
<div id="progressbar-content" title="{{ usermodule.percent_complete }}% complete">Active {{ usermodule.start_date|timesince }} </div>
<div id="progressbar-sq" title="Your module SQ is {{ userconcept.sq }}">{% sqchange usermodule.previous_sq usermodule.sq %}</div>
{% endif %}
{% endblock %}

{% block content_left %}

    {% if module %}

        <blockquote>{{ module.description }}</blockquote>

        {% if usermodule %}
            
        {% else %}
            <div class="focus">
            <h4>Activate module</h4>
            <p>Activate this module to start studying!</p>
            <!-- Registration form -->
            <form action="{% url module-register module_id=module.id %}" method="post">
            <input type="hidden" name="submit" value="1" />
            &nbsp;<input type="submit" value="Activate '{{module}}' &raquo;" />
            </form>
            </div>
        {% endif %}

        {% if module.concepts %}
        <h5>Concepts</h5>
        <table>
            {% if module.concepts_filtered %}
                {% for concept in module.concepts_filtered %}
                    <tr class="{% cycle zebra %}">
                        <td colspan="2"><a href="{% url concept-detail concept_id=concept.id %}">{{ concept }}</a></td>
                        <td>
                        </td>
                        {% if usermodule %}
                            {% if concept.userconcept %}
                                {% if concept.userconcept.is_active %}
                                    <td><a href="#" class="active">Active</a></td>
                                {% else %}
                                    <td><span class="complete">Completed</span></td>
                                {% endif %}
                                <td>{% sqchange concept.userconcept.previous_sq concept.userconcept.sq %}</td>
                            {% else %}
                                <td><a href="{% url concept-register concept_id=concept.id %}" class="inactive">Activate</a></td>
                            {% endif %}
                        {% else %}<td></td>{% endif %}
                    </tr>
                {% endfor %}
            {% endif %}

        </table>
        {% endif %}


        {% include "_memberships.html" %}

    {% else %}
        <p>No curriculum information available.</p>
    {% endif %}

{% endblock %}

{% block content_right %}
<h5>Discussion</h5>
{% include "_forum.html" %}

{% with module as obj %}{% include "_social.html" %}{% endwith %}
{% endblock %}
