{% extends "base.html" %}
{% cycle 'odd' 'even' as zebra %}

{% block extrahead %}
    {{ block.super }}
<script type="text/javascript" src="/media/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/media/admin/js/getElementsBySelector.js"></script>

<script type="text/javascript" src="/media/admin/js/actions.js"></script>
<script type="text/javascript" src="/media/admin/js/calendar.js"></script>
<script type="text/javascript" src="/media/admin/js/admin/DateTimeShortcuts.js"></script>


{% endblock %}

{% block breadcrumbs %} 
    {{ block.super }}
        &raquo; <a href="{% url course-detail course_id=modulei.course.id %}">{{ modulei.course }}</a>
    &raquo; {{ module }}

{% endblock %}

{% block content %}

    {% if modulei %}
    
        <h1>{{ module.name }}</h1>

        <blockquote>{{ module.description }}</blockquote>

        <h3>Registration</h3>
        <p>Join this module for access to learning materials and to study for exams.</p>
        <!-- Registration form -->
        <form action="{% url modulei-register modulei_id=modulei.id coursei_id=coursei.id%}" method="post">
        <input id="start_date" type="text" class="vDateField" name="start_date">
        &nbsp;<input type="submit" value="Register &raquo;" />
        </form>


    {% endif %}

{% endblock %}