{% extends "base.html" %}
{% cycle 'odd' 'even' as zebra %}

{% block extrahead %}
    {{ block.super }}
<script type="text/javascript" src="/media/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/media/admin/js/getElementsBySelector.js"></script>

<script type="text/javascript" src="/media/admin/js/actions.js"></script>
<script type="text/javascript" src="/media/admin/js/calendar.js"></script>
<script type="text/javascript" src="/media/admin/js/admin/DateTimeShortcuts.js"></script>


{% endblock %}

{% block breadcrumbs %} 
    {{ block.super }}
    {% if module.network %}
    &raquo; <a href="{% url network-detail network_id=module.network.id %}">{{ module.network }}</a>
    {% endif %}
    &raquo; {{ module }}
{% endblock %}

{% block content %}

    {% if module %}
    
        <h1>{{ module.name }}</h1>
        <table>
        {% if module.city %}
        <tr><th>Location</th>
        <td><a href="http://maps.google.com/maps?q={{ module.postcode|urlencode }}" target="_blank">
               {{ module.city }}, {{ module.country }}
        </a></td></tr>
        {% endif %}
        {% if module.stage %}
        <tr><th>Stage</th><td>{{ module.get_stage_display }}</td></tr>
        {% endif %}
        </table>
        <blockquote>{{ module.description }}</blockquote>


    {% endif %}

{% endblock %}
