{% extends "base.html" %}
{% load countries_tags %}
{% load pagination_tags %}
{% load thumbnail %}

{% block breadcrumbs %} 
    {{ block.super }}
    &raquo; Topic
    &raquo; Search
{% endblock %}


{% block content %}

    <div class="focus"><h4>Activate topics for study</h4><div>
    <p>Topics are collections of subjects for study on <strong>smrtr</strong>.
    <p>To get started, search for subjects you're interested in and activate the topics below.</p>
    <form method="get" action="?q={{query}}">
        <table>
            <tr>
                <th style="vertical-align:middle;"><label for="id_q">{{ form.q.label }}</th>
                    <td>{{ form.q.errors }} {{ form.q }}</td>
                <td>
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table>            <form method="post" action=".">
    </form>
    </div></div>

        {% if query %}
            <form method="post" action="?q={{query}}">
            <input type="hidden" name="q" value="{{ query }}">
            {% for result in page_obj.object_list %}
                {% with result.object as topic %}
                    {% if topic %}

                <div class="object {% cycle 'odd' 'even' %} {% cycle 'clear' '' %} stackme">
                    <div class="object-emblems">  
                    </div>
                    <div class="object-checkbox"><input type="checkbox" name="addtopic" value="{{ topic.id }}" {% if topic in request.user.topics.all %}checked disabled{% endif %}></div>
                    <div class="object-image"><img src="{% thumbnail topic.image 48x48 crop %}"></div>
                    <div class="object-title"><a href="{% url topic-detail topic_id=topic.id %}">{{ topic }}</a></div>
                    <div class="object-meta">
                        {% if topic.network %}from <a href="{% url network-detail topic.network.id %}">{{ topic.network }}</a>{% endif %}
                        &#183; {{ topic.users.count }} member{{ topic.users.count|pluralize }}
                        <br />
                        {% if topic.description %}
                            {{ topic.description|truncatewords:"25" }}
                        {% endif %}
                    </div>
                </div>

                    {% endif %}
                {% endwith %}
                {% empty %}
            {% endfor %}

        <br class="clear" />
        <p class="buttonbar"><input type="submit" value="Activate selected topics &raquo;"></p>
        </form>        

        <!-- <p>Don't find your topic listed? <a href="#">Create it!</a></p> -->

        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}

        {% if next %}
            <p class="buttonbar"><span class="button"><a href="{{ next }}">Do not activate any topics &raquo;</a></span></p>
        {% endif %}


        {% paginate %}
{% endblock %}
