{% extends "base.html" %}
{% load sq_tags %}
{% load core_tags %}

{% cycle 'odd' 'even' as zebra %}

{% block breadcrumbs %} 
    {{ block.super }}
    {% if topic.network %}
    &raquo; <a href="{% url network-detail network_id=topic.network.id %}">{{ topic.network }}</a>
    {% endif %}
    &raquo; {{ topic }}
{% endblock %}

{% block title %}{{topic}}{% endblock %}

{% block content_title %}{% include "_topic_header.html" %}{% endblock %}

{% block progressbar %}
{% if usertopic %}
{% percentbar usertopic.percent_complete %}
<div id="progressbar-content" title="{{ usertopic.percent_complete }}% complete">Active {{ usertopic.start_date|timesince }} </div>
<div id="progressbar-sq" title="Your topic SQ is {{ userconcept.sq }}">{% sqchange usertopic.previous_sq usertopic.sq %}</div>
{% endif %}
{% endblock %}

{% block content_left %}

    {% if topic %}

        <blockquote>{{ topic.description }}</blockquote>

        {% if usertopic %}
            
        {% else %}
            <div class="focus"><h4>Activate topic</h4><div class="focus-body">
            <p>Activate this topic to start studying!</p>
            <!-- Registration form -->
            <form action="{% url topic-register topic_id=topic.id %}" method="post">
            <input type="hidden" name="submit" value="1" />
            {% if next %}<input type="hidden" name="next" value="{{next}}" />{% endif %}
            &nbsp;<input type="submit" value="Activate '{{topic}}' &raquo;" />
            </form>
            </div></div>
        {% endif %}

        {% if topic.concepts %}
        <h5>Concepts</h5>
        <table>
            {% if topic.concepts_filtered %}
                {% for concept in topic.concepts_filtered %}
                    <tr class="{% cycle zebra %}">
                        <td colspan="2"><a href="{% url concept-detail concept_id=concept.id %}">{{ concept }}</a></td>
                        <td>
                        </td>
                        {% if usertopic %}
                            {% if concept.userconcept %}
                                {% if concept.userconcept.is_active %}
                                    <td><a href="#" class="active">Active</a></td>
                                {% else %}
                                    <td><span class="complete">Completed</span></td>
                                {% endif %}
                                <td>{% sqchange concept.userconcept.previous_sq concept.userconcept.sq %}</td>
                            {% else %}
                                <td><a href="{% url concept-register concept_id=concept.id %}" class="inactive">Activate</a></td>
                            {% endif %}
                        {% else %}<td></td>{% endif %}
                    </tr>
                {% endfor %}
            {% endif %}

        </table>
        {% endif %}


        {% include "_memberships.html" %}

    {% else %}
        <p>No curriculum information available.</p>
    {% endif %}

{% endblock %}

{% block content_right %}
<h5>Discussion</h5>
{% include "_forum.html" %}

{% with topic as obj %}{% include "_social.html" %}{% endwith %}
{% endblock %}
