{% extends "base.html" %}
{% load i18n %}

{% block title %}{% blocktrans with thread.title as title %}Reply to thread  "{{ title }}"{% endblocktrans %}{% endblock %}

{% block content_title %}<h1>{% blocktrans with thread.title as title %}Reply to Thread "{{ title }}"{% endblocktrans %}</h1>{% endblock %}

{% block breadcrumbs %} 
    {{ block.super }}
    &raquo; <a href="{% url forum_index %}">Forums</a>
    {% for title, url in thread.forum.get_url_name %} &raquo; <a href='{{ url }}'>{{ title }}</a>{% endfor %} &raquo; <a href='{{ thread.get_absolute_url }}'>{{ thread.title|escape }}</a> &raquo; Reply
{% endblock %}


{% block content %}

<h5>{% trans "Reply to Challenge" %}</h5>
<form method='post' action='./'>
{% if form.errors %}<ul>{{ form.errors.as_ul }}</ul>{% endif %}
{{ form.as_p }}
<p><input type='submit' value='{% trans "Post" %}' /></p>
</form>

{% endblock %}
